﻿
@{
    ViewData["Title"] = "Index";

}
@*Khai báo các thẻ style vào trong đây, không cần khai báo bootrap, jquery, chỉ khai báo style của page hoặc các componet*@
@section styles{
    <link rel="stylesheet" type="text/css" href="~/css/pages/home.css">
    <link rel="stylesheet" href="~/css/components/uikit.css">
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
    @*Dùng component thì link => link file css component bên dưới*@

}
<div style="width: 100%; font-family: Raleway; padding-top: 75px">
    <!-- Vùng Tiêu đề giới thiệu -->
    <p class="main-title"><b>Benefits of Buying Online Car Insurance Policy</b></p>
    <p class="sub-title">Insurance Vehicle provides extensive coverage to protect your motor vehicle from every risk. It gives you a complete ‘on-road protection’ facility.</p>

    <!-- Vùng giới thiệu -->
    <div id="present-area" class="row container">
        <div class="col-lg-3 col-md-4 col-sm-6">
            <div class="present-area-content">
                <div>
                    <img width="70" height="70" src="~/asset/home/present-7-icon/present-icon-1.jpg">
                    <p>Coverage against natural causes like flood, storm, lightning, earthquake, landslide, etc.</p>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6">
            <div class="present-area-content">
                <div>
                    <img width="70" height="70" src="~/asset/home/present-7-icon/present-icon-2.jpg">
                    <p>Coverage against manmade causes like burglary, theft, accidental external damage, etc.</p>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6">
            <div class="present-area-content">
                <div>
                    <img width="70" height="70" src="~/asset/home/present-7-icon/present-icon-3.jpg">
                    <p>24X7 on Road side assistance coverage</p>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6">
            <div class="present-area-content">
                <div>
                    <img width="70" height="70" src="~/asset/home/present-7-icon/present-icon-4.jpg">
                    <p>Zero Depreciation Cover</p>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6">
            <div class="present-area-content">
                <div>
                    <img width="70" height="70" src="~/asset/home/present-7-icon/present-icon-5.jpg">
                    <p>Coverage for CNG/LPG fuel kit.</p>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6">
            <div class="present-area-content">
                <div>
                    <img width="70" height="70" src="~/asset/home/present-7-icon/present-icon-6.jpg">
                    <p>Coverage for loss or damage to Electrical or non-electrical accessories</p>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6">
            <div class="present-area-content">
                <div>
                    <img width="70" height="70" src="~/asset/home/present-7-icon/present-icon-7.jpg">
                    <p>More than 4300+ garages working tirelessly to provide hassle free service</p>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6">
            <div class="present-area-content">
                <div>
                    <p style="font-size: 130%">Are you interested ?</p>
                    <button type="button" href="/insurance-vehicle">BUY INSURANCE</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Vùng giới thiệu theo thẻ -->
    <div id="present-tag-list">
        <div id="present-tags">
            <ul>
                <!-- Tab Links -->
                <li class="tab-links present-tag-active" onclick="openContent(event, 'what-it-covers')">What it covers?</li>
                <li class="tab-links" onclick="openContent(event, 'what-it-not-covers')">What it does not cover?</li>
                <li class="tab-links" onclick="openContent(event, 'add-on-covers')">Add on Covers</li>
                <li class="tab-links" onclick="openContent(event, 'cancellation')">Cancellation</li>
                <li class="tab-links" onclick="openContent(event, 'other-details')">Other Details</li>
                <li class="tab-links" onclick="openContent(event, 'downloads')">Downloads</li>
            </ul>
        </div>
    </div>
    <div id="present-tag-content">
        <!-- Tab content -->
        <div id="what-it-covers" class="tab-content">
            <p class="present-tag-main-p">When you buy comprehensive car insurance the following are included in the policy:</p>
            <p class="present-tag-sub-p">Loss or damage of the car because of fire or explosion, flood, inundation, storm, cyclone, typhoon, hailstorm, lightning, earthquake and other Acts of God, etc</p>
            <br>
            <p class="present-tag-sub-p">Legal liability to third-party in case of injury, death or property damage.</p>
            <p class="present-tag-sub-p">Personal Accident cover offers compensation to the owner if they get injured while getting in or out of the vehicle or while traveling.</p>
            <p class="present-tag-sub-p">If the insured vehicle meets with an accident, the owner gets reimbursed for towing, protection and redelivery of the vehicle.</p>
            <p class="present-tag-sub-p">On payment of the additional sum, the coverage can be extended as a part of the policy. These include Personal Accident cover for passengers, Loss or damage of electrical or non-electrical accessories, etc. </p>
        </div>

        <div id="what-it-not-covers" class="tab-content" style="display: none">
            <p class="present-tag-main-p">While exclusions can vary from policy to policy, generally the following are excluded from a majority of car insurance:</p>
            <ul>
                <br>
                <li class="present-tag-sub-p">Consequential loss.</li>
                <li class="present-tag-sub-p">Contractual liability.</li>
                <li class="present-tag-sub-p">Depreciation and wear and tear.</li>
                <li class="present-tag-sub-p">Mechanical or electrical breakdown.</li>
                <li class="present-tag-sub-p">Accident or damage due to the car being driven under the influence of alcohol or drugs.</li>
                <li class="present-tag-sub-p">The vehicle being used for other purposes, like racing, speed testing or commercial use, then what was mentioned in the insurance application.</li>
                <li class="present-tag-sub-p">Damage to tires or tubes.</li>
                <li class="present-tag-sub-p">Loss of accessories.</li>
            </ul>
        </div>

        <div id="add-on-covers" class="tab-content" style="display: none">
            <p class="present-tag-main-p">Add on Covers with your Car Insurance Policy</p>
            <ul>
                <br>
                <li class="present-tag-sub-p"><span class="emphasis-span">Zero Depreciation Cover:</span> The depreciation value is deducted at the time of settling the claim. When you opt for Zero Depreciation Cover, the entire claim amount will be paid out to you.</li>
                <li class="present-tag-sub-p"><span class="emphasis-span">No Claim Bonus Protection:</span> The add-on keeps your No Claim Bonus safe even if you make a claim.</li>
                <li class="present-tag-sub-p"><span class="emphasis-span">Engine Protection:</span> If you buy Engine Protection, the policy covers the repairs without you having to spend anything.</li>
                <li class="present-tag-sub-p"><span class="emphasis-span">Return to Invoice:</span> This add-on helps you get the original invoice price of the vehicle, including road tax and registration charges, should your vehicle be deemed a total loss.</li>
                <li class="present-tag-sub-p"><span class="emphasis-span">Roadside Assistance:</span> The cover offers you numerous valuable services, like towing, key replacement and refueling, should your car breakdown in the middle of nowhere.</li>
            </ul>
        </div>

        <div id="cancellation" class="tab-content" style="display: none">
            <p class="present-tag-main-p">Cancellation</p>
            <p class="present-tag-sub-p">The Company may cancel the policy by sending seven days notice by recorded delivery to the insured at insured’s last known address and in such event will return to the insured the premium paid less the pro rata portion thereof for the period the Policy has been in force. The policy may be cancelled at any time by the insured on seven days notice by recorded delivery and provided no claim has arisen during the currency of the policy. The insured shall be entitled to a return of premium less premium at the Company’s Short Period rates for the period the Policy has been in force.</p>
        </div>

        <div id="other-details" class="tab-content" style="display: none">
            <p>Types of Car Insurance</p>
            <br>
            <p class="present-tag-main-p">Third-party Car Insurance</p>
            <p class="present-tag-sub-p">Third-party car insurance is a mandatory requirement for all car owners in India. Driving without valid insurance is punishable under law.</p>
            <p class="present-tag-sub-p">It offers protection to the policyholder against legal liabilities in case there is an involvement in an accident. Any damages resulting from the accident - be it damages to the third-party’s vehicle/property, physical injuries or death, the insurer will compensate for it.</p>
            <p class="present-tag-sub-p">Thus, third-party car insurance shields the policyholder from financial liabilities arising towards a third party.</p>
            <br>
            <p class="present-tag-main-p">Comprehensive Car Insurance</p>
            <p class="present-tag-sub-p">A Comprehensive car insurance policy guarantees complete protection against damages caused to your car due to accident, falling objects, vandalism, natural disasters, and theft. Other than damages to your vehicle, a comprehensive policy also covers third-party liabilities. It includes physical injuries and damages to the third party.</p>
            <br>
            <p class="present-tag-main-p">Important Car Insurance Terms</p>
            <p class="present-tag-sub-p"><i>Add-on Cover</i></p>
            <p class="present-tag-sub-p">It is an additional cover that you can buy by paying an additional premium and widen the scope of coverage of your regular policy.</p>
            <p class="present-tag-sub-p"><i>IDV</i></p>
            <p class="present-tag-sub-p">IDV or Insured Declared Value is the maximum compensation that the insurer will pay the policyholder if their vehicle gets damaged beyond repairs or gets stolen. The IDV is agreed upon by the insurer and the insured the time of purchasing the policy.</p>
            <p class="present-tag-sub-p"><i>NCB</i></p>
            <p class="present-tag-sub-p">NCB or No Claim Bonus is the reward offered by the insurance companies to policyholders for not filing a claim in the policy year. The benefit reward offered is in terms of reducing the premium amount upon policy renewal or increasing the sum assured.</p>
            <p class="present-tag-sub-p"><i>Network Garage</i></p>
            <p class="present-tag-sub-p">Insurance companies have tie-ups with various garages, which are known as ‘network garages.’ Policyholders can get their vehicle repaired at any of the network garages and get a cashless claim.</p>
            <p class="present-tag-sub-p"><i>Lapse</i></p>
            <p class="present-tag-sub-p">It refers to the termination of your car insurance policy due to non-payment of your premium.</p>
            <p class="present-tag-sub-p"><i>Policy tenure</i></p>
            <p class="present-tag-sub-p">It is the period for which the policy is in force.</p>
            <p class="present-tag-sub-p"><i>Deductible</i></p>
            <p class="present-tag-sub-p">It is the fixed part of the vehicle repair cost that you must pay out of your pocket.</p>
            <br>
            <p class="present-tag-main-p">What is NCB?</p>
            <p class="present-tag-sub-p">NCB (No-Claim Bonus) is a reward offered by the insurance company to the policyholders for not making a claim during the policy year. NCB helps policyholders get a discount on the premium amount upon renewal of the policy. The NCB keeps accumulating for every claim-free year. You can get a discount of up to 50%.</p>
            <br>
            <p class="present-tag-main-p">How to Calculate Car Insurance Premium?</p>
            <p class="present-tag-sub-p">Car insurance premium depends on various factors like:</p>
            <ul>
                <li class="present-tag-sub-p">Age and gender of the policyholder.</li>
                <li class="present-tag-sub-p">Car model and variant.</li>
                <li class="present-tag-sub-p">Cubic Capacity of the engine.</li>
                <li class="present-tag-sub-p">IDV.</li>
                <li class="present-tag-sub-p">Fuel type.</li>
                <li class="present-tag-sub-p">Year of manufacture.</li>
                <li class="present-tag-sub-p">Geographic location.</li>
                <li class="present-tag-sub-p">NCB</li>
            </ul>
            <p class="present-tag-sub-p">The easiest way to get an accurate estimate of the car insurance premium is to use the car insurance premium calculator. It is an online tool that calculates the premium based on the information you provide. To calculate the premium, you must provide the following details:</p>
            <ul>
                <li class="present-tag-sub-p">Car manufacturer’s name.</li>
                <li class="present-tag-sub-p">Model number.</li>
                <li class="present-tag-sub-p">Manufacturing year.</li>
                <li class="present-tag-sub-p">Fuel type.</li>
                <li class="present-tag-sub-p">IDV.</li>
                <li class="present-tag-sub-p">Policyholder’s details – name, residence address, age</li>
            </ul>
            <br>
            <p class="present-tag-main-p">Steps to Renew Car Insurance Online</p>
            <p class="present-tag-sub-p">Renewing your car insurance is vital to stay protected against unforeseen risks. Renewing a policy online is easy; you must take the following steps:</p>
            <p class="present-tag-sub-p"><i>Choose the insurer</i></p>
            <p class="present-tag-sub-p">If you have purchased a policy from a particular insurance company, you need not necessarily renew from the same insurer. You can renew from a different insurer as per your choice.</p>
            <p class="present-tag-sub-p"><i>Fill the details</i></p>
            <p class="present-tag-sub-p">Fill out the online application form with necessary information – age, address, car model, claim history, location, NCB, etc</p>
            <p class="present-tag-sub-p"><i>Choose your plan</i></p>
            <p class="present-tag-sub-p">If you wish to renew with a new insurer, review their policies, and choose the one that suits your needs. You can also select add-ons as needed.</p>
            <p class="present-tag-sub-p"><i>Make payment</i></p>
            <p class="present-tag-sub-p">You can pay your premium online through net banking, credit/debit card or online payment gateway.</p>
            <p class="present-tag-sub-p"><i>Review the policy document</i></p>
            <p class="present-tag-sub-p">Once you complete the payment, check the soft copy of the policy document to ensure that the details are mentioned correctly.</p>
            <br>
            <p class="present-tag-main-p">Documents required to buy an insurance policy</p>
            <p class="present-tag-sub-p">While buying a car insurance policy, you must submit an identification proof. You must submit a copy of any of the following documents:</p>
            <ul>
                <li class="present-tag-sub-p">Aadhaar Card.</li>
                <li class="present-tag-sub-p">Pan Card.</li>
                <li class="present-tag-sub-p">Passport.</li>
                <li class="present-tag-sub-p">Election Card.</li>
            </ul>
            <br>
            <p class="present-tag-main-p">Why choose US?</p>
            <p class="present-tag-sub-p">IFFCO -Tokio provides extensive coverage to protect your car from all kinds of risk. With US, policyholders get:</p>
            <ul>
                <li class="present-tag-sub-p">Coverage against natural calamities like storm, earthquake, lighting, landside, etc.</li>
                <li class="present-tag-sub-p">Coverage against human-made disasters like theft, burglary, etc.</li>
                <li class="present-tag-sub-p">24x7 Roadside assistance coverage.</li>
                <li class="present-tag-sub-p">A wide variety of add-ons to choose your specific needs.</li>
                <li class="present-tag-sub-p">Coverage for CNG/LPG fuel kit.</li>
                <li class="present-tag-sub-p">Coverage for damage to electrical and non-electrical accessories.</li>
                <li class="present-tag-sub-p">More than 4300 network garages to choose from.</li>
            </ul>
        </div>

        <div id="downloads" class="tab-content" style="display: none">
            <p class="present-tag-main-p">Download Forms</p>
            <ul>
                <li class="present-tag-sub-p"><a href="#">Motor Claim form.pdf</a></li>
                <li class="present-tag-sub-p"><a href="#">Motor Proposal Form for Private Car or Two Wheeler.pdf</a></li>
                <li class="present-tag-sub-p"><a href="#">Private Car Policy Wording.pdf</a></li>
            </ul>
        </div>
    </div>

    <!-- Vùng Giới thiệu về Car Insurance -->
    <div id="know-more-about">
        <p>Know More About Car Insurance</p>
        <div id="know-more-about-area" class="row container">
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div>
                    <p><a>Guide To Finding The<br>Right Car Insurance</a></p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div>
                    <p><a>Tips to Buy & Renew Car<br>Insurance Online</a></p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div>
                    <p><a>Importance of On-Time<br>Renewal of Car Insurance</a></p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div>
                    <p><a>Add on Covers with your<br>Car Insurance Policy</a></p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div>
                    <p><a>4 Questions that can help<br>you select the Right Car<br>Online</a></p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div>
                    <p><a>The Importance of Having<br>Zero Depreciation Car<br>Insurance</a></p>
                </div>
            </div>
        </div>
    </div>

    <!-- Vùng FAQS -->
    <div id="faqs-area">
        <p>FAQs</p>
        <div class="faq" onclick="openFaqTag(event)">
            <p class="faq-question">What is Car Insurance? - <b>Insurance Vehicle</b></p>
            <span class="faq-sign" onclick="closeFaqTag(event)">+</span>
            <div class="faq-answer">Car insurance is a contract between you and the insurer, wherein the insurance company offers extensive coverage to protect your car from every possible risk. It basically covers accidents, thefts, and any third-party liabilities based on the insurance purchased. It covers against natural and man-made calamities. It acts as a boon to the policyholder in case of emergencies.</div>
        </div>
        <div class="faq" onclick="openFaqTag(event)">
            <p class="faq-question">Why do I need a Car Insurance policy?</p>
            <span class="faq-sign" onclick="closeFaqTag(event)">+</span>
            <div class="faq-answer">
                <p>You’re the proud owner of your car; hence it is your responsibility to protect it from potential damages that may arise due to accident, or theft. In India, it is mandatory to have Third-party Insurance to drive on roads; otherwise, it is considered a legal offence. One more reason you need car insurance policy is for the safety of others, they could be fellow drivers, pedestrians, or your passengers.</p>
            </div>
        </div>
        <div class="faq" onclick="openFaqTag(event)">
            <p class="faq-question">How to renew car insurance online?</p>
            <span class="faq-sign" onclick="closeFaqTag(event)">+</span>
            <div class="faq-answer">
                <p>Renewing car insurance online is easy. Make sure that you renew the policy within the maturity period to avoid any penalty. To renew the policy, you must follow the process mentioned below:</p>
                <br>
                <ul style="list-style-type: none;">
                    <li>Visit the insurer’s website, and click on the renew option.</li>
                    <li>Select the insurer – just because you have purchased a policy from a insurer, you need not renew the policy from the same insurer, you are free to choose a different insurance company at the time of renewal.</li>
                    <li>Fill the necessary details like – policy number, vehicle registration number, personal details, etc.</li>
                    <li>Browse through the plans, and choose the suitable plan. At this stage, you can customise the plan. You can purchase an add-on cover or drop the riders that you had purchased previously.</li>
                    <li>Make the payment. You must pay the premium for the renewed policy.</li>
                    <li>Lastly, review the policy documents carefully and make sure that all the details are in place.</li>
                    <li>Be aware of the next renewal date and don’t miss renewing the policy before the maturity date.</li>
                </ul>
            </div>
        </div>
        <div class="faq" onclick="openFaqTag(event)">
            <p class="faq-question">Is it safe to renew car insurance online?</p>
            <span class="faq-sign" onclick="closeFaqTag(event)">+</span>
            <div class="faq-answer">Yes, it is safe to renew your car insurance policy online. One of the primary concerns people have about online renewal is the safety and security of the payments. But, most insurance companies have a secured payment gateway, and the risk of losing your money is minimal.</div>
        </div>
        <div class="faq" onclick="openFaqTag(event)">
            <p class="faq-question">What is the process for car insurance renewal online?</p>
            <span class="faq-sign" onclick="closeFaqTag(event)">+</span>
            <div class="faq-answer">A policyholder needs to visit the website of the insurer. There they can look for policies that can be better for them. They can renew the policy by making the payment. It is important that policyholders renew their car insurance. A person can’t make any claims when the policy expires.</div>
        </div>
        <button type="button">VIEW ALL FAQs</button>
    </div>


    <!-- Vùng đánh giá của khách hàng -->
    <div id="customer-review">
        <p>Customer Review</p>
        <div class="uk-position-relative uk-visible-toggle uk-light" tabindex="-1"
             uk-slideshow="autoplay: true;
								autoplay-interval: 3000;
								pause-on-hover: true;
								finite: false;
								ratio: 1920:550
								">
            <ul class="uk-slideshow-items">
                <li>
                    <div class="customer-review-content">
                        <p class="customer-review-text">
                            There are many insurance companies, but IFFCO Tokio is the best. You guys settled my Car Insurance claim very quickly.
                        </p>
                        <div class="customer-review-star">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                        </div>
                        <p class="customer-review-info">
                            Rated by: Ravish
                        </p>
                    </div>
                </li>
                <li>
                    <div class="customer-review-content">
                        <p class="customer-review-text">
                            I am very happy with the customer service given by IFFCO Tokio guys. Car Insurance claim settlement was Hassel-free. Thanks IFFCO Tokio.
                        </p>
                        <div class="customer-review-star">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                        </div>
                        <p class="customer-review-info">
                            Rated by: Betina
                        </p>
                    </div>
                </li>
                <li>
                    <div class="customer-review-content">
                        <p class="customer-review-text">
                            The service provided by the IFFCO Tokio team is really nice. I bought Car Insurance and for 2 years I never faced any problem.
                        </p>
                        <div class="customer-review-star">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                        </div>
                        <p class="customer-review-info">
                            Rated by: Rama
                        </p>
                    </div>
                </li>
            </ul>
            <a class="uk-position-center-left uk-position-small uk-hidden-hover" id="cus-rep-navi-prev" href="#" uk-slidenav-previous uk-slideshow-item="previous"></a>
            <a class="uk-position-center-right uk-position-small uk-hidden-hover" id="cus-rep-navi-next" href="#" uk-slidenav-next
               uk-slideshow-item="next"></a>
        </div>
    </div>


    <!-- Vùng khám phá các chính sách khác -->
    <div id="explore-policies">
        <p>Explore Our Other Policies</p>
        <ul id="explore-policies-img-list">
            <li>
                <img width="60" height="60" class="explore-policies-img" src="~/asset/home/present-4-icon/present-icon-8.jpg">
                <p><a href="#">Health<br>Insurance</a></p>
            </li>
            <li>
                <img width="60" height="60" class="explore-policies-img" src="~/asset/home/present-4-icon/present-icon-9.jpg">
                <p><a href="#">Two-Wheeler<br>Insurance</a></p>
            </li>
            <li>
                <img width="60" height="60" class="explore-policies-img" src="~/asset/home/present-4-icon/present-icon-10.jpg">
                <p><a href="#">Travel<br>Insurance</a></p>
            </li>
            <li>
                <img width="60" height="60" class="explore-policies-img" src="~/asset/home/present-4-icon/present-icon-11.jpg">
                <p><a href="#">Home<br>Insurance</a></p>
            </li>
        </ul>
    </div>
</div>

@*Khai báo các thẻ Script vào trong đây, không cần khai báo bootrap, jquery, chỉ khai báo script link qua js script của page hoặc các componet*@
@section script{
    <script src="~/js/pages/home.js"></script>
    <script src="~/js/components/uikit-icons.min.js"></script>
    <script src="~/js/components/uikit.min.js"></script>
}

