﻿.active-nav {
    color: #ee4d2d;
    border-bottom: 2px solid #00b2ce;
    background-color: #00b2ce;
}

    .active-nav:hover a{
        background-color: #00b2ce !important;
    }

    .active-nav a {
        color: #FFF !important;
        font-weight: bolder;
    }

.nav-justified a {
    color: rgba(0,0,0,.8)
}

.nav-justified > li {
    border-bottom: 5px solid #00b2ce;
}

    .nav-justified a:hover {
        color: #00b2ce;
    }

@media only screen and (max-width: 768px) {
    .nav-justified {
        display: flex;
        justify-content: center;
        font-size: 10px;
        padding-top: 0%;
    }
}
.datimeBill {
    display: none;
}
@media screen and (max-width: 600px) {
    .datimeBill {
        display: block;
    }
}

.load-table{
    display: none;
    width: 100%;
    height: 300px;
    justify-content: center;
    align-items: center;
}

.nav-justified{
    margin-bottom: 20px;
}

.wrap-pagination {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
#type-claim {
    display: inline-block;
    color: #21618C;
    width: 100px;
    font-weight: 700;
    border: 1px solid;
    border-radius: 5px;
}
