﻿#buy-insurance {
    overflow-y: scroll;
}

.form-title {
    text-align: center;
    font-weight: bolder;
}

.model, .license-plate, .body-number, .engine-number, .version {
    font-weight: bolder;
    color: #344659;
}

#model, #license-plate, #body-number, #engine-number, #version {
    font-weight: bolder;
    color: #344659;
}

#btn-add-new-vehicle {
    display: block;
    margin: auto;
}

#add-new-vehicle-form {
    display: none;
    margin-top: 75px;
}

#create-bill-area {
    margin-top: 75px;
}

#insurance-vehicle-noti {
    text-align: center;
    font-weight: bolder;
    font-size: 130%;
}

#insurance-vehicle-info {
    text-align: center;
    font-size: 100%;
}

#insurance-price-noti {
    text-align: center;
    font-weight: bolder;
    font-size: 130%;
}

#insurance-price-value {
    color: #344659;
    font-size: 150%;
}

#btn-create-bill {
    border-radius: 25px;
    display: block;
    margin: auto;
}

#customer-vehicle-list{
    left: -313px !important;
}

#customer-vehicle-list > li{
    cursor: pointer;
    transition: 0.1s;
}

    #customer-vehicle-list > li :hover{
        background-color: lightgray;
        transform: scale(1.05);
    }

#customer-chosen-vehicle {
    display: none;
}

#search-result-area{
    display: none;
}

#search-result-list {
    border: 1px solid #ccc !important;
    min-width: 270px !important;
    height: auto !important;
}

    #search-result-list > li {
        display: block;
        margin-bottom: 5px !important;
        transition: 0.25s !important;
        cursor: pointer !important;
        padding-left: 12px !important;
    }

    #search-result-list > li:last-child {
        margin-bottom: 0px !important;
    }

        #search-result-list > li:hover {
            background-color: #ccc !important;
            font-style: italic;
            font-size: 110%;
        }

#none-version-warning {
    color: #c0392b;
    text-align: center;
    font-weight: bolder;
}

#noti-modal-header {
    font-weight: bolder;
}

.btn-outline-danger {
    border: 1px solid #ccc !important;
    background-color: lightgrey;
}

.form-control{
    padding: 6px 12px !important;
    border: 1px solid #ccc !important;
    margin-bottom: 0px !important;
}