﻿#claim-form {
    display: block;
    margin: auto;
    width: 60%;
    margin-top: 30px;
}

#body-claim-textarea {
    resize: none;
    width: 100%;
    height: 100px;
    overflow-y: auto;
}

#edit-claim-btn {
    display: block;
    margin: auto;
    margin-top: 20px;
}

#upload-image-btn {
    display: block;
    margin: auto;
    margin-top: 20px;
}
