﻿#buy-insurance {
    overflow-y: scroll;
}

.form-title {
    text-align: center;
    font-weight: bolder;
}

.model, .license-plate, .body-number, .engine-number, .version {
    font-weight: bolder;
    color: #344659;
}

#btn-add-new-vehicle {
    display: block;
    margin: auto;
}

#add-new-vehicle-form {
    display: none;
    margin-top: 75px;
}

#create-bill-area {
    margin-top: 75px;
}

#insurance-vehicle-noti {
    text-align: center;
    font-weight: bolder;
    font-size: 130%;
}

#insurance-vehicle-info {
    text-align: center;
    font-weight: bolder;
    font-size: 100%;
}

#insurance-price-noti {
    text-align: center;
    font-weight: bolder;
    font-size: 130%;
}

#insurance-price-value {
    color: #344659;
    font-size: 150%;
}

#btn-create-bill {
    border-radius: 25px;
    display: block;
    margin: auto;
}

#buy-insurance-modal .dropdown-menu > li {
    margin-bottom: 10px;
    cursor: pointer;
}

#search-result-area {
    display: none;
}

#search-result-list {
    display: block;
    border: 1px solid #000;
    height: auto;
}

    #search-result-list > li {
        display: block;
        margin-bottom: 10px;
        border-bottom: 1px solid #000;
        transition: 0.25s;
        cursor: pointer;
    }

        #search-result-list > li :hover {
            transform: scale(1.1);
        }

#dropdownCustomerVehicles{
    display: block !important;
    margin: auto !important;
}

#customer-vehicle-list{
    left: 130px;
}

#customer-vehicle-list > li {
    cursor: pointer;
    transition: 0.25s !important;
}

    #customer-vehicle-list > li :hover {
        background-color: lightgray;
        transform: scale(1.05);
    }
