﻿body{
    width: 100% !important;
}

body > div:nth-of-type(2){
    width: 100% !important;
    padding: 0px !important;
}

#page-content {
    width: 100% !important;
    padding: 20px 0% !important;
}

/*Vùng Tiêu đề*/
.main-title {
    font-family: Raleway;
    text-align: center;
    font-weight: bolder;
    font-size: 230%;
}

.sub-title {
    font-family: Raleway;
    font-weight: bolder;
    font-size: 120%;
    display: block;
    margin: auto;
    margin-top: 20px;
    width: 40%;
    text-align: center;
}


/*Vùng 8 khu vực giới thiệu*/
#present-area {
    width: 80%;
    margin: auto;
    margin-top: 100px;
    margin-bottom: 100px;
}

    #present-area > div {
        height: 290px;
        margin-bottom: 30px;
    }

.present-area-content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 100%;
    margin: auto;
    border: 1px solid #e5e4e4;
    border-radius: 4px;
    transition: 0.25s;
    cursor: pointer;
}

    .present-area-content:hover {
        transform: scale(1.1);
        border: 2px solid lightgrey;
        box-shadow: 0px 3px 8px lightgrey;
    }

    .present-area-content > div {
        width: 90%;
    }

        .present-area-content > div > img {
            display: block;
            margin: auto;
            width: 70px;
            height: 70px;
        }

        .present-area-content > div > p {
            width: 100%;
            display: block;
            margin-top: 30px;
            font-weight: bolder;
            text-align: center;
            font-size: 110%;
        }

        .present-area-content > div > button {
            display: block;
            font-weight: bolder;
            font-size: 110%;
            margin: auto;
            margin-top: 15px;
            background-color: #00B2CE;
            color: #fff;
            outline: none;
            border: none;
            border-radius: 4px;
            padding: 8px;
            transition: 0.25s;
        }

            .present-area-content > div > button:hover {
                transform: scale(1.1);
                background-color: #fff;
                color: #00B2CE;
                border: 1px solid #00B2CE;
            }


/*Vùng 6 thẻ giới thiệu*/
#present-tag-list {
    width: 100%;
    box-shadow: 0 4px 2px -2px #e5e4e4;
    border-bottom: 1px solid #e5e4e4;
}

#present-tags {
    width: 80%;
    display: block;
    margin: auto;
}

    #present-tags > ul {
        list-style-type: none;
        display: block;
        margin: auto;
        text-align: center;
        padding: 0 !important;
    }

        #present-tags > ul > li {
            display: inline-block;
            font-weight: bolder;
            font-size: 150%;
            margin-left: 4px;
            margin-right: 4px;
            border: 1px solid transparent;
            background-color: lightgrey;
            padding: 8px 16px;
            cursor: pointer;
        }

.present-tag-active {
    background-color: #00B2CE !important;
    transform: scale(1.1);
    box-shadow: 0px -3px 15px -5px #00B2CE;
    color: #fff;
}

#present-tag-content {
    width: 75%;
    height: auto;
    margin: auto;
    padding-top: 100px;
    padding-bottom: 100px;
}

.tab-content {
}

    .tab-content > ul {
        list-style: none;
    }

        .tab-content > ul > li {
            margin-bottom: 15px;
        }

.emphasis-span {
    font-weight: bolder;
    color: #00B2CE;
}

.tab-content > ul > li::before {
    content: "\2022";
    color: #00B2CE;
    font-weight: bold;
    transform: scale(2);
    display: inline-block;
    width: 1%;
    margin-left: -1em;
}

.present-tag-main-p {
    font-size: 150%;
    font-weight: bolder;
}

.present-tag-sub-p {
    font-size: 120%;
}

#other-details > p:nth-of-type(1) {
    font-style: italic;
    font-size: 150%;
    font-weight: bolder;
}


/*Vùng Giới thiệu về Car Insurance*/
#know-more-about {
    background: url(../../asset/home/KnowMoreAboutCarInsurance.jpg) no-repeat;
    background-size: cover;
    padding-top: 75px;
    padding-bottom: 75px;
}

    #know-more-about > p {
        color: #fff;
        font-size: 250%;
        font-weight: bolder;
        text-align: center;
        text-shadow: 0px 0px 16px #000;
        margin-bottom: 35px;
    }

#know-more-about-area {
    width: 66%;
    margin: auto;
}

    #know-more-about-area > div {
        height: 273px;
        margin-bottom: 25px;
    }

        #know-more-about-area > div > div {
            display: flex;
            width: 95%;
            justify-content: center;
            align-items: center;
            height: 100%;
            background-color: rgba(255, 255, 255, 0.8) !important;
            border-radius: 4px;
            border: 1px solid transparent;
            transition: 0.25s;
        }

            #know-more-about-area > div > div:hover {
                transform: scale(1.1);
            }

            #know-more-about-area > div > div > p {
                font-weight: bolder;
                font-size: 140%;
                text-align: center;
                cursor: pointer;
            }

                #know-more-about-area > div > div > p > a {
                    text-decoration: none;
                    color: #000;
                }

                    #know-more-about-area > div > div > p > a:hover {
                        text-decoration: underline;
                        color: #00B2CE;
                    }


/*Vùng FAQS*/
#faqs-area {
    margin-top: 100px;
    width: 100%;
    margin-bottom: 100px;
}

    #faqs-area > p {
        text-align: center;
        font-weight: bolder;
        font-size: 350%;
        margin-bottom: 50px;
    }

.faq-active {
    background-color: rgba(52, 70, 89, 0.1);
}

.faq-q-active {
    line-height: initial;
    margin-bottom: 25px !important;
}

.faq-a-active {
    display: block !important;
    line-height: initial;
    font-size: 110%;
}

.faq-s-active {
    position: absolute;
    right: 16px;
}

.faq {
    border: 1.5px solid #00B2CE;
    border-radius: 7px;
    width: 70%;
    margin: auto;
    padding: 16px;
    margin-bottom: 20px;
    height: auto;
    position: relative;
    cursor: pointer;
    box-shadow: 0.5px 0.5px #00B2CE;
}

.faq-question {
    font-weight: bolder;
    font-size: 150%;
    display: inline-block;
    line-height: 100%;
    margin-bottom: 0px;
}

.faq-sign {
    display: inline-block;
    transform: scale(3);
    text-align: right;
    position: absolute;
    right: 16px;
    line-height: 100%;
}

.faq-answer {
    display: none;
}

    .faq-answer > ul > li::before {
        content: "\2022";
        color: #00B2CE;
        font-weight: bold;
        transform: scale(2);
        display: inline-block;
        width: 1%;
        margin-left: -1em;
    }

    .faq-answer > ul > li {
        margin-bottom: 10px;
    }

#faqs-area > button {
    display: block;
    font-weight: bolder;
    font-size: 110%;
    margin: auto;
    margin-top: 50px;
    background-color: #00B2CE;
    color: #fff;
    outline: none;
    border: none;
    border-radius: 4px;
    padding: 8px 64px;
    transition: 0.25s;
}

    #faqs-area > button:hover {
        transform: scale(1.1);
        background-color: #fff;
        color: #00B2CE;
        border: 1px solid #00B2CE;
    }


/*Vùng Đánh giá của Khách hàng*/
#customer-review {
    width: 100%;
    background: url(../../asset/home/CustomerReview.jpg) no-repeat;
    background-size: cover;
    padding-top: 75px;
    height: 600px;
    margin-bottom: 100px;
}

    #customer-review > p {
        color: #fff;
        font-size: 350%;
        font-weight: bolder;
        text-align: center;
        text-shadow: 0px 0px 16px #000;
        margin-bottom: 70px;
    }

    #customer-review > div {
        max-height: 380px;
        min-height: 380px;
    }

.uk-slideshow-items {
    max-height: 380px !important;
    min-height: 380px !important;
}

    .uk-slideshow-items > li {
        max-height: 380px;
        min-height: 380px;
    }

.customer-review-content {
    display: block;
    margin: auto;
    width: 70%;
    text-align: center;
}

.customer-review-text {
    font-weight: bolder;
    color: #fff;
    font-size: 210%;
    text-shadow: 0px 0px 32px #000;
    margin-bottom: 50px;
}

.customer-review-star {
    display: block;
    transition: 0.25s;
}

    .customer-review-star:hover {
        transform: scale(1.1);
    }

    .customer-review-star > i {
        display: inline-block;
        color: yellow;
        font-size: 300%;
        text-shadow: 0px 0px 32px #000;
    }

.customer-review-info {
    font-weight: bolder;
    color: #fff;
    font-size: 210%;
    text-shadow: 0px 0px 32px #000;
}

#cus-rep-navi-prev {
    transform: scale(2);
    cursor: pointer;
    color: #00B2CE;
    border-radius: 75%;
    background-color: #fff;
    opacity: 0.7;
    transition: 0.25s;
    top: 20%;
    left: 3%;
}

    #cus-rep-navi-prev:hover {
        background-color: #00B2CE;
        color: #fff;
        opacity: 1;
    }

#cus-rep-navi-next {
    transform: scale(2);
    cursor: pointer;
    color: #00B2CE;
    border-radius: 75%;
    background-color: #fff;
    opacity: 0.7;
    transition: 0.25s;
    top: 20%;
    right: 3%;
}

    #cus-rep-navi-next:hover {
        background-color: #00B2CE;
        color: #fff;
        opacity: 1;
    }


/*Vùng Khám phá các Chính sách Khác*/
#explore-policies {
    width: 100%;
    margin-bottom: 100px;
}

    #explore-policies > p {
        text-align: center;
        font-size: 300%;
        font-weight: bolder;
        margin-bottom: 50px;
    }

#explore-policies-img-list {
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 0px !important;
}

    #explore-policies-img-list > li {
        display: inline-block;
        text-align: center;
        margin-left: 7px;
        margin-right: 7px;
        min-height: 142px;
        min-width: 110px;
        transition: 0.25s;
        cursor: pointer;
    }

        #explore-policies-img-list > li > img {
            display: block;
            border: 1px solid #00B2CE;
            border-radius: 50%;
            transform: scale(1.5);
            margin: auto;
        }

        #explore-policies-img-list > li > p {
            display: block;
            margin: auto;
            margin-top: 35px;
            font-weight: bolder;
        }

            #explore-policies-img-list > li > p > a {
                text-decoration: none;
                color: #000;
            }

        #explore-policies-img-list > li:hover {
            transform: scale(1.1);
        }

            #explore-policies-img-list > li:hover > img {
                border: 2px solid #00B2CE;
            }

            #explore-policies-img-list > li:hover > p > a {
                text-decoration: underline;
                color: #00B2CE;
            }
