﻿.insurance-background {
    background-color: aquamarine;
    margin-left: 10%;
}

button.btn.add::before {
    font-family: fontAwesome;
    content: "\f067\00a0";
}

.btn-add-to-cart {
    font-weight: 600;
    color: #00b2ce;
    background-color: #FFFFFF;
    border-color: #00b2ce;
}

    .btn-add-to-cart:hover {
        color: #fff !IMPORTANT;
        background-color: #00b2ce;
        border-color: #00b2ce;
        transition: 0.25s ease-in-out;
    }

    .btn-add-to-cart:focus {
        color: #00b2ce;
    }
