﻿

#icon1 {
    text-align: center;
    color: #0a5184;
    font-size: 4vh;
    transition: 0.2s;
}

#icon1:hover {
    font-size: 5vh;
}

#icon2 {
    text-align: center;
    color: #0a5184;
    font-size: 4vh;
    transition: 0.2s;
}

#icon2:hover {
    font-size: 5vh;
}

#icon3 {
    text-align: center;
    color: #0a5184;
    font-size: 4vh;
    transition: 0.2s;
}

    #icon3:hover {
        font-size: 5vh;
    }

#icon4 {
    text-align: center;
    color: #0a5184;
    font-size: 5vh;
    transition: 0.2s;
}

    #icon4:hover {
        font-size: 6vh;
    }

#icon5 {
    text-align: center;
    color: #0a5184;
    font-size: 5vh;
    transition: 0.2s;
}

    #icon5:hover {
        font-size: 6vh;
    }

.top-body { 
    padding: 1.5vh;
}

#body1 {
    width: auto;
    height: auto;
    margin-top: 2.5vh;
    margin-bottom: 2.5vh;
    text-align: center;
    padding: 1.5vh;
}

#body2 {   
    width: auto;
    height: auto;
    margin-bottom: 2.5vh;
    text-align: center;
    padding: 1.5vh;
}

#body3 {
    width: auto;
    height: auto;
    margin-bottom: 2.5vh;
    text-align: center;
    padding: 1.5vh;
}

.body.effect-9 {
    -webkit-transition: box-shadow 0.5s;
    -moz-transition: box-shadow 0.5s;
    transition: box-shadow 0.5s;
}

    .body.effect-9:after {
        top: 0;
        left: 0;
        padding: 0;
        box-shadow: 0 0 0 2px #0a5184;
        -webkit-transition: -webkit-transform 0.5s, opacity 0.5s;
        -moz-transition: -moz-transform 0.5s, opacity 0.5s;
        transition: transform 0.5s, opacity 0.5s;
    }
    /* Effect 9a */
    .body.effect-9:hover:after {
        -webkit-transform: scale(0.85);
        -moz-transform: scale(0.85);
        -ms-transform: scale(0.85);
        transform: scale(0.85);
        opacity: 0.5;
    }

    .body.effect-9.color-grey:hover {
        box-shadow: 0 0 0 2px #0a5184;
        color: #1367a3;
    }



#img1 {
    max-width: 100%;
    height: auto;
    transition: 0.2s;
}

#img2 {
    max-width: 100%;
    height: auto;
    transition: 0.2s;
}
#img3 {
    max-width: 100%;
    height: auto;
    transition: 0.2s;
}
#img4 {
    max-width: 100%;
    height: auto;
    transition: 0.2s;
}
#img5 {
    max-width: 100%;
    height: auto;
    transition: 0.2s;
}
#img6 {
    max-width: 100%;
    height: auto;
    transition: 0.2s;
}


#img1:hover {
    transform: scale(1.04);
    
}

#img2:hover {
    transform: scale(1.04);   
}

#img3:hover {
    transform: scale(1.04);
}

#img4:hover {
    transform: scale(1.04);
}

#img5:hover {
    transform: scale(1.04);
}

#img6:hover {
    transform: scale(1.04);
}