﻿
@{
    ViewData["Title"] = "Claim";
}

@section styles{
    <link href="~/css/components/modalimgClaim.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="~/css/pages/account.css">
    <link rel="stylesheet" type="text/css" href="~/css/pages/EditClaimModal.css">
    <link rel="stylesheet" type="text/css" href="~/css/components/itemRowTable.css" />
    <link href="~/css/components/button.css" rel="stylesheet" />
    <link href="~/css/components/loader.css" rel="stylesheet" />
    <link href="~/css/components/paginationDataTable.css" rel="stylesheet" />
    <link href="~/css/components/input.css" rel="stylesheet" />
    <link href="~/css/components/colorClaimStatus.css" rel="stylesheet" />
    @*Dùng component thì link => link file css component bên dưới*@

}
<ul class="nav nav-pills nav-justified" style="border-bottom: 1px solid #e6e1e1">
    <li><a href="/account">My account</a></li>
    <li><a href="/account/my-vehicle-insurance">My Vehicle Insurance</a></li>
    <li><a href="/account/my-vehicle">My Vehicle</a></li>
    <li><a href="/account/wait-for-pay">Wait For Pay</a></li>
    <li><a href="/account/paid">Paid</a></li>
    <li class="active-nav"><a href="/account/claim">Claim</a></li>
</ul>
<div class="loader">
    <i class="fa fa-spinner fa-pulse fa-3x fa-fw icon"></i>
    <span class="sr-only">Loading...</span>
</div>
<div class="row-top-table" style="padding: 10px">
    <div class="row">
        <div class="col-sm-6" style="text-align:left;color:#98ACC0">
            <label style="font-size: 20px ; color:#344659">List My Claim</label>
            <select id="type-claim">
                <option style="background-color: #fff !important ;color:#444444" value="4">All</option>
                <option style="background-color: #fff !important ;color:#444444" value="0">Pending</option>
                <option style="background-color: #fff !important ;color:#444444" value="1">Success</option>
                <option style="background-color: #fff !important; color:#444444" value="2">Accepted</option>
                <option style="background-color: #fff !important; color:#444444" value="-1">Rejected</option>
            </select>
        </div>
        <div class="col-sm-6">
            <label><input id="myVehicle" type="search" class="form-control inputSearch" placeholder="Enter Vehicle" style="max-width: 300px"></label>
            <button onclick="searchVehicle()" class="btn-search"> <i class="fa fa-search" aria-hidden="true"></i></button>
        </div>

    </div>

</div>
<table id="cart" class="table table-hover table-condensed">
    <thead>
        <tr>
            <th style="width:40%">Body Claim</th>
            <th style="width:30%">Vehicle</th>
            <th style="width:10%">Date Of Request</th>
            <th style="width:15%">Status</th>
            <th></th>
        </tr>
    </thead>
    <tbody id="bill-list-item-claim">
    </tbody>
</table>

<div class="load-table">
    <!-- loading -->
    <i class="fa fa-spinner fa-pulse fa-3x fa-fw" style="color: #00b2ce;"></i>
    <span class="sr-only">Loading...</span>
</div>
<div>
    <div class="wrap-pagination">
        <ul class="pagination" style="">
        </ul>
    </div>
</div>
<!-- Modal IMG -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body scroll-mig force-overflow" id="displayImgs" style="text-align:center">

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="RemoveImg()">Close</button>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="container-img">
        <div id="myModal-img" class="modal-img">
            <span class="close-img">&times;</span>
            <img class="modal-content-img " id="img01">
        </div>
    </div>
</div>

@*modal delete*@

<!-- Modal -->
<div class="modal fade" id="exampleModalDeleteClaim" tabindex="-1" role="dialog" aria-labelledby="exampleModalDeleteClaim" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content ">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel" style="font-weight:700">Delete Claim</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <input id="ClaimID" value="" style="display:none" />
                Are you sure you want to delete this claim?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-danger" onclick="ConfirmDeleteClaim()">Delete</button>
            </div>
        </div>
    </div>
</div>
@*modal thong bao*@
<div id="notification-modal-container-claim" class="modal fade bs-example-modal-md" tabindex="-1" role="dialog" aria-labelledby="notification-modal-container-claim">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="noti-modal-header-claim"></h4>
            </div>
            <div class="modal-body" id="noti-modal-body-claim">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" id="close-noti-modal-btn" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<!-- Show Notification Modal -->

    <!-- Large modal -->
 
<div id="notification-modal-container" class="modal fade bs-example-modal-md" tabindex="-1" role="dialog" aria-labelledby="notification-modal-container" >
      <div class="modal-dialog modal-md">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" ><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="noti-modal-header">Edit Claim</h4>
                </div>
                <div class="modal-body" id="noti-modal-body">
                    <p>Do you really want edit your Claim?</p>
                </div>
                <div class="modal-footer" id="noti-modal-footer-Claim">
                    <button type="button" class="btn btn-success" onclick="editClaim()">OK</button>
                    <button type="button" class="btn btn-md btn-outline-danger" id="close-noti-modal-btn"  data-dismiss="modal">Close</button>
                </div>
            </div>
      </div>
</div>


<!-- Modal Edit Claim -->
<div class="modal fade" id="edit-claim" role="dialog">
    <div class="modal-dialog modal-lg" id="edit-claim-modal">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" style="font-weight: bolder; text-align: center; font-size: 180%; color: #344659;">Edit Claim</h4>
            </div>
            <div class="modal-body">
                <form class="form-vert" id="claim-form">
                    <div class="form-group">
                        <label for="BodyClaim">*Claim Content:</label>
                        <textarea type="text" class="form-control" id="edit-body-claim-textarea" name="EditBodyClaim"
                                  placeholder="Enter your Claim Content here"></textarea>
                    </div>
                </form>
                <hr /> 
                <div id="showImgClaim" style="margin-bottom:15px; text-align:center">

                </div>
                <div class="form-group" style="display: flex; align-items: center;">
                    <label for="ImageUpload">*Upload Claim Image:</label>
                    <input type="button" style="margin-left: 40px" id="btnShowFiles" value="..." class="btn btn-success" />
                    <input type="file" multiple accept="image/*" class="form-control" id="image-upload" name="ImageUpload" style="display: none" />
                </div>
                <div id="uploaded-image-area">
                    <div id="uploaded-image-list"></div>
                </div>
                <button type="button" id="edit-claim-btn" class="btn btn-warning btn-lg" onclick="confirmEditClaim()">Edit Your Claim</button>
            </div>
            <div class="modal-footer">
                <button type="button" id="close-edit-claim-btn" class="btn btn-outline-danger btn-lg" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


@*Khai báo các thẻ Script vào trong đây, không cần khai báo bootrap, jquery, chỉ khai báo script link qua js script của page hoặc các componet, viết js vào file link đến*@
@section script{
    <script src="~/js/pages/account.js"></script>
    <script src="~/js/pages/Claim.js"></script>
    <script src="~/js/pages/ClaimModal.js"></script>
    <script src="~/js/pages/EditClaim.js"></script>
    <script src="~/js/components/ShowNotificationModal.js"></script>
}
