﻿
@{
    ViewData["Title"] = "Index";
}
@*Khai báo các thẻ style vào trong đây, không cần khai báo bootrap, jquery, chỉ khai báo style của page hoặc các componet*@
@section styles{
    <link rel="stylesheet" type="text/css" href="~/css/pages/account.css">
    <link rel="stylesheet" type="text/css" href="~/css/pages/MyAccount.css">
    <link href="~/css/components/button.css" rel="stylesheet" />
    <link href="~/css/components/loader.css" rel="stylesheet" />
    <link href="~/css/components/paginationDataTable.css" rel="stylesheet" />
}
<span class="navbar-toggler-icon" style="width: 20px; height: 20px;"></span>
<ul class="nav nav-pills nav-justified" style="border-bottom: 1px solid #e6e1e1">
    <li class="active-nav"><a href="/account">My Account</a></li>
    <li><a href="/account/my-vehicle-insurance">My Vehicle Insurance</a></li>
    <li><a href="/account/my-vehicle">My Vehicle</a></li>
    <li><a href="/account/wait-for-pay">Wait For Pay</a></li>
    <li><a href="/account/paid">Paid</a></li>
    <li><a href="/account/claim">Claim</a></li>
</ul>
<div class="loader">
    <i class="fa fa-spinner fa-pulse fa-3x fa-fw icon"></i>
    <span class="sr-only">Loading...</span>
</div>
<div class="load-table">
    <!-- loading -->
    <i class="fa fa-spinner fa-pulse fa-3x fa-fw" style="color: #00b2ce;"></i>
    <span class="sr-only">Loading...</span>
</div>

<div id="information-form">
    <h3 style="text-align:center;margin: 40px 0px;">Account Profile</h3>
    <form class="form-horizontal" style="margin-top: 10px;">
        <div class="form-group col-sm-6">
            <label class="control-label col-sm-6" for="full-name">*Fullname:</label>
            <div class="col-sm-6">
                <input required type="text" name="full-name" class="form-control" id="full-name">
            </div>
        </div>
        <div class="form-group col-sm-6">
            <label class="control-label col-sm-6" for="e-mail">*E-mail:</label>
            <div class="col-sm-6">
                <input required type="text" name="e-mail" class="form-control" id="e-mail">
            </div>
        </div>
        <div class="form-group col-sm-6">
            <label class="control-label col-sm-6" for="phone">*Phone:</label>
            <div class="col-sm-6">
                <input required type="text" name="phone" class="form-control" id="phone">
            </div>
        </div>
        <div class="form-group col-sm-6">
            <label class="control-label col-sm-6" for="address">*Address:</label>
            <div class="col-sm-6">
                <input required type="text" name="address" class="form-control" id="address">
            </div>
        </div>
        <div class="form-group col-sm-6">
            <label class="control-label col-sm-6" for="passport">*Pass-Port:</label>
            <div class="col-sm-6">
                <input required type="text" name="passport" class="form-control" id="passport">
            </div>
        </div>
        <br />
    </form>
</div>
<div style="display: flex; justify-content:space-around;width: 100%;">
    <button type="button" class="btn btn-primary" onclick="editAccount()">Edit Profile <i class="fa fa-pencil-square-o" aria-hidden="true"></i></button>
    <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#change-password">Change Password <i class="fa fa-key" aria-hidden="true"></i></button>
</div>

<!-- Modal -->
<div class="modal fade" id="change-password" role="dialog">
    <div class="modal-dialog modal-lg" id="change-password-modal">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" onclick="hideChangePassword()">&times;</button>
                <h4 class="modal-title" style="font-weight: bolder">Change Password</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" id="add-new-vehicle-form" style="margin-top: 75px;">
                    <br />
                    <div class="form-group">
                        <label class="control-label col-sm-6" for="old">*Old Password:</label>
                        <div class="col-sm-4">
                            <input required type="password" name="old" class="form-control" id="old" placeholder="Enter present password">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-6" for="new">*New Password:</label>
                        <div class="col-sm-4">
                            <input required type="password" name="new" class="form-control" id="new" placeholder="Enter new password">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-6" for="confirm">*Confirm New Password:</label>
                        <div class="col-sm-4">
                            <input required type="password" name="confirm" class="form-control" id="confirm" placeholder="Enter confirm new password">
                        </div>
                    </div>

                    <div class="form-group" style="text-align:center">
                        <button type="button" class="btn btn-default" id="btn-add-new-vehicle"
                                onclick="changePassword()">
                            Change
                        </button>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="hideChosenCustomerVehicle()">Close</button>
            </div>
        </div>
    </div>
</div>

<div id="notification-modal-container" style="display: none;">
    <!-- Large modal -->
    <button type="button" style="display: none !important" class="btn btn-primary" id="noti-modal-button" data-toggle="modal" data-target=".bs-example-modal-lg">Large modal</button>

    <div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" style="z-index: 1000000000">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="hideNotificationModal()"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="noti-modal-header"></h4>
                </div>
                <div class="modal-body" id="noti-modal-body">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal" onclick="hideChangePassword()">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>
@*Khai báo các thẻ Script vào trong đây, không cần khai báo bootrap, jquery, chỉ khai báo script link qua js script của page hoặc các componet, viết js vào file link đến*@
@section script{
    <script src="~/js/pages/my_account.js"></script>
    <script src="~/js/pages/account.js"></script>
    <script src="~/js/components/ShowNotificationModal.js"></script>
}
