﻿
@{
    ViewData["Title"] = "Index";
}
@*Khai báo các thẻ style vào trong đây, không cần khai báo bootrap, jquery, chỉ khai báo style của page hoặc các componet*@
@section styles{
    <link rel="stylesheet" type="text/css" href="~/css/pages/insurance.css">
    <link rel="stylesheet" type="text/css" href="~/css/pages/createbillmodal.css">
    <link href="~/css/pages/account.css" rel="stylesheet" />
    <link href="~/css/components/paginationDataTable.css" rel="stylesheet" />
    <link href="~/css/components/loader.css" rel="stylesheet" />
    <link href="~/css/pages/account.css" rel="stylesheet" />
    <link href="~/css/components/button.css" rel="stylesheet" />
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Table_Responsive_v1/vendor/animate/animate.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Table_Responsive_v1/vendor/select2/select2.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Table_Responsive_v1/vendor/perfect-scrollbar/perfect-scrollbar.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Table_Responsive_v1/css/util.css">
    <link rel="stylesheet" type="text/css" href="~/Table_Responsive_v1/css/main.css">

}

<ul class="nav nav-pills nav-justified" style="border-bottom: 1px solid #e6e1e1">
    <li><a href="/account">My account</a></li>
    <li><a href="/account/my-vehicle-insurance">My Vehicle Insurance</a></li>
    <li class="active-nav"><a href="/account/my-vehicle">My Vehicle</a></li>
    <li><a href="/account/wait-for-pay">Wait For Pay</a></li>
    <li><a href="/account/paid">Paid</a></li>
    <li><a href="/account/claim">Claim</a></li>
</ul>
<div class="row-top-table" style="padding: 10px">
    <div class="row">
        <div class="col-sm-6" style="text-align:left;color:#98ACC0">
            <a data-toggle="modal" data-target="#add-newvehicle" onclick="openAddNewVehicleForm()"><button type="button" class="btn btn-default btn-lg">Add New Vehicle</button></a>
        </div>
        <div class="col-sm-6">
            <label><input id="myVehicle" type="search" class="form-control inputSearch" placeholder="Enter Vehicle" style="max-width: 300px ;height:40px"></label>
            <button onclick="searchVehicle()" class="btn-search"> <i class="fa fa-search" aria-hidden="true"></i></button>
        </div>

    </div>

</div>
<div class="loader">
    <i class="fa fa-spinner fa-pulse fa-3x fa-fw icon"></i>
    <span class="sr-only">Loading...</span>
</div>
<table id="cart">
    <thead>
        <tr class="table100-head">
            <th class="column1">No</th>
            <th class="column2">Body Number</th>
            <th class="column3">Engine Numer</th>
            <th class="column4">License Plates</th>
            <th class="column6">Model</th>
            <th class="column7">Version</th>
            <th class="column8"></th>
        </tr>
    </thead>
    <tbody id="table-buy-insurance">
    </tbody>
</table>
<div class="load-table">
    <!-- loading -->
    <i class="fa fa-spinner fa-pulse fa-3x fa-fw" style="color: #00b2ce;"></i>
    <span class="sr-only">Loading...</span>
</div>
<div>
    <div class="wrap-pagination">
        <ul class="pagination" style="">
        </ul>
    </div>
</div>
<!-- Modal -->
<div class="modal fade" id="add-newvehicle" role="dialog">
    <div class="modal-dialog modal-lg" id="add-newvehicle-modal">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" onclick="hideChosenCustomerVehicle()">&times;</button>
                <h4 class="modal-title" style="font-weight: bolder">Add new Vehicle</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" id="add-new-vehicle-form" style="margin-top: 75px;">
                    <h4 class="form-title">Add New Car</h4>
                    <br />
                    <div class="form-group">
                        <label class="control-label col-sm-6" for="LicensePlate">*License Plate:</label>
                        <div class="col-sm-4">
                            <input required type="text" name="LicensePlate" class="form-control" id="new-vehicle-license-plate" placeholder="Enter your vehicle License Plate">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-6" for="PurchaseDate">*Purchase Date:</label>
                        <div class="col-sm-4">
                            <input required type="date" name="PurchaseDate" class="form-control" id="new-vehicle-purchase-date" placeholder="Enter your vehicle Purchase Date">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-6" for="BodyNumber">*Body Number:</label>
                        <div class="col-sm-4">
                            <input required type="text" name="BodyNumber" class="form-control" id="new-vehicle-body-number" placeholder="Enter your vehicle Body Number">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-6" for="LicensePlate">*Engine Number:</label>
                        <div class="col-sm-4">
                            <input required type="text" name="EngineNumber" class="form-control" id="new-vehicle-engine-number" placeholder="Enter your vehicle Engine Number">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-6" for="Model">*Model: </label>
                        <div class="col-sm-4">
                            <input required name="Model" class="form-control" id="new-vehicle-model"
                                   placeholder="Enter your vehicle model that you want"
                                   onkeyup="getVehicleModel()" />
                            <div id="search-result-area" class="dropdown">
                                <ul class="dropdown-menu" aria-labelledby="dropdownCustomerVehicles" id="search-result-list">
                                    <!-- Đẩy kết quả tìm kiếm vào đây-->
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-6" for="Version">*Version: </label>
                        <div class="col-sm-4">
                            <select required name="Version" class="form-control" id="new-vehicle-version">
                                <!-- Đẩy dữ liệu về Version phương tiện theo Model vào đây -->
                            </select>
                        </div>
                    </div>
                    <br />
                    <div class="form-group">
                        <button type="button" class="btn btn-default" id="btn-add-new-vehicle"
                                onclick="addCustomerVehicle()">
                            Add New
                        </button>
                    </div>
                </form>
                <div id="create-bill-area">
                    <div id="customer-chosen-vehicle" style="display: none;">
                        <p id="insurance-vehicle-noti">You choose insurance for this vehicle:</p>
                        <p id="insurance-vehicle-info">
                            *Model: <span id="model"></span><br />
                            *License Plate: <span id="license-plate"></span><br />
                            *Version: <span id="version"></span><br />
                            *Engine Number: <span id="engine-number"></span><br />
                            *Body Number: <span id="body-number"></span>
                        </p>
                        <form class="form-horizontal">
                            <div class="form-group">
                                <label class="control-label col-sm-6" for="InsuranceQuantity">*Insurance Quantity: </label>
                                <div class="col-sm-2">
                                    <input class="form-control" required type="number" min="1" name="InsuranceQuantity" id="insurance-quantity"
                                           placeholder="Enter your Insurance Quantity" onchange="getPriceInsurance()"
                                           value="1" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-sm-6" for="YearsOfUsed">*Years Of Used: </label>
                                <div class="col-sm-2">
                                    <input class="form-control" required type="number" min="1" name="YearsOfUsed" id="years-of-used"
                                           placeholder="Enter your Vehicle Years of Used" onchange="getPriceInsurance()"
                                           value="1" />
                                </div>
                            </div>
                        </form>
                    </div>
                    <p id="insurance-price-noti" style="display: none;">* Your Insurance Price is: <span id="insurance-price-value">$100</span></p>
                    <br />
                    <button id="btn-create-bill" style="display: none;" class="btn btn-default btn-lg"
                            onclick="createBillAction()">
                        Create Your Bill
                    </button>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default btn-lg" data-dismiss="modal" onclick="hideChosenCustomerVehicle()">Close</button>
            </div>
        </div>
    </div>
</div>
@*//modal thong bao*@
<div id="notification-modal-container" class="modal fade bs-example-modal-md" tabindex="-1" role="dialog" aria-labelledby="notification-modal-container">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="noti-modal-header"></h4>
            </div>
            <div class="modal-body" id="noti-modal-body">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" id="close-noti-modal-btn" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
@*Khai báo các thẻ Script vào trong đây, không cần khai báo bootrap, jquery, chỉ khai báo script link qua js script của page hoặc các componet, viết js vào file link đến*@
@section script{
    <script src="~/js/pages/vehicle_customer.js"></script>
    <script src="~/js/pages/createbillmodal.js"></script>
}
