﻿
@{
    ViewData["Title"] = "Index";
}
@*Khai báo các thẻ style vào trong đây, không cần khai báo bootrap, jquery, chỉ khai báo style của page hoặc các componet*@
@section styles{

    <link href="~/css/components/itemRowTable.css" rel="stylesheet" />
    <link href="~/css/components/paginationDataTable.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="~/css/pages/account.css">
    <link rel="stylesheet" type="text/css" href="~/css/pages/ClaimModal.css">
    <link href="~/css/components/loader.css" rel="stylesheet" />
    <link href="~/css/components/input.css" rel="stylesheet" />
    <link href="~/css/components/button.css" rel="stylesheet" />
    @*Dùng component thì link => link file css component bên dưới*@

}
<ul class="nav nav-pills nav-justified" style="border-bottom: 1px solid #e6e1e1">
    <li><a href="/account">My account</a></li>
    <li class="active-nav"><a href="/account/my-vehicle-insurance" onclick="BillofSaleActive()">My Vehicle Insurance</a></li>
    <li><a href="/account/my-vehicle">My Vehicle</a></li>
    <li><a href="/account/wait-for-pay">Wait For Pay</a></li>
    <li><a href="/account/paid">Paid</a></li>
    <li><a href="/account/claim">Claim</a></li>
</ul>
<div class="loader">
    <i class="fa fa-spinner fa-pulse fa-3x fa-fw icon"></i>
    <span class="sr-only">Loading...</span>
</div>
<div class="row-top-table" style="padding: 10px">
    <div class="row">
        <div class="col-sm-6" style="text-align:left;color:#98ACC0">
            <label style="font-size: 20px ; color:#344659">List My Vehicle Insurance</label>
        </div>
        <div class="col-sm-6">
            <label><input id="licensePlates" type="search" class="form-control inputSearch" placeholder="Enter Vehicle" style="max-width: 300px"></label>
            <button onclick="searchVehicle()" class="btn-search"> <i class="fa fa-search" aria-hidden="true"></i></button>
        </div>

    </div>

</div>
@*<div class="row-top-table">

        <label><input type="search" class="form-control" aria-describedby="search" placeholder="Search" style="max-width: 300px"></label>
    </div>*@
<table id="cart" class="table table-hover table-condensed" style="display:inline-block">
    <thead>
        <tr>
            <th style="width:27%">Insurance</th>
            <th style="width: 26%">Vehicle</th>
            <th style="width:16%">Datetime</th>
            <th style="width:16%; text-align: center;">Price</th>
            <th style="text-align: center;"></th>

        </tr>
    </thead>
    <tbody id="bill-list-item-active">
    </tbody>
</table>
<div class="load-table">
    <!-- loading -->
    <i class="fa fa-spinner fa-pulse fa-3x fa-fw" style="color: #00b2ce"></i>
    <span class="sr-only">Loading...</span>
</div>
<div>
    <div class="wrap-pagination">
        <ul class="pagination" style="">
        </ul>
    </div>
</div>

<!-- Modal Send Claim -->
<div class="modal fade" id="claim-detail" role="dialog">
    <div class="modal-dialog modal-lg" id="claim-detail-modal">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" style="font-weight: bolder; text-align: center; font-size: 180%; color: #344659;">Claim Request</h4>
            </div>
            <div class="modal-body">
                <form class="form-vert" id="claim-form">
                    <div class="form-group">
                        <label for="BodyClaim">*Claim Content:</label>
                        <textarea type="text" class="form-control" id="body-claim-textarea" name="BodyClaim"
                                  placeholder="Enter your Claim Content here"></textarea>
                    </div>
                    <br />
                    <div class="form-group" style="display: flex; align-items: center;">
                        <label for="ImageUpload">*Upload Claim Image:</label>
                        <input type="button" style="margin-left: 40px" id="btnShowFiles" value="..." class="btn btn-success" />
                        <input type="file" multiple accept="image/*" class="form-control" id="image-upload" name="ImageUpload" style="display: none" />
                    </div>
                </form>
                <hr />
                <div id="uploaded-image-area">
                    <div id="uploaded-image-list"></div>
                </div>
                <button type="button" id="claim-submit-btn" class="btn btn-info btn-lg" onclick="sendClaimRequest()">Submit Your Claim</button>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-danger btn-lg" id="close-claim-request-modal-btn" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
@*modal thong bao*@
<div id="notification-modal-container" class="modal fade bs-example-modal-md" tabindex="-1" role="dialog" aria-labelledby="notification-modal-container">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="noti-modal-header"></h4>
            </div>
            <div class="modal-body" id="noti-modal-body">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" id="close-noti-modal-btn" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
@*Khai báo các thẻ Script vào trong đây, không cần khai báo bootrap, jquery, chỉ khai báo script link qua js script của page hoặc các componet, viết js vào file link đến*@
@section script{
    <script src="~/js/pages/account.js"></script>
    <script src="~/js/pages/billActive.js"></script>
    <script src="~/js/pages/ClaimModal.js"></script>

}
