﻿
@{
    ViewData["Title"] = "Index";
}
@*Khai báo các thẻ style vào trong đây, không cần khai báo bootrap, jquery, chỉ khai báo style của page hoặc các componet*@
@section styles{
    <link rel="stylesheet" type="text/css" href="~/css/pages/account.css">
    <link rel="stylesheet" type="text/css" href="~/css/components/itemRowTable.css" />
    <link href="~/css/components/paginationDataTable.css" rel="stylesheet" />
    @*Dùng component thì link => link file css component bên dưới*@
    <link href="~/css/components/input.css" rel="stylesheet" />
    <link href="~/css/components/button.css" rel="stylesheet" />
    <link href="~/css/components/loader.css" rel="stylesheet" />

}

<ul class="nav nav-pills nav-justified" style="border-bottom: 1px solid #e6e1e1">
    <li><a href="/account">My account</a></li>
    <li><a href="/account/my-vehicle-insurance">My Vehicle Insurance</a></li>
    <li><a href="/account/my-vehicle">My Vehicle</a></li>
    <li><a href="/account/wait-for-pay">Wait For Pay</a></li>
    <li class="active-nav"><a href="/account/paid">Paid</a></li>
    <li><a href="/account/claim">Claim</a></li>
</ul>
<div class="loader">
    <i class="fa fa-spinner fa-pulse fa-3x fa-fw icon"></i>
    <span class="sr-only">Loading...</span>
</div>
<div class="row-top-table" style="padding: 10px">
    <div class="row">
        <div class="col-sm-6" style="text-align:left;color:#98ACC0">
            <label style="font-size: 20px ; color:#344659">List Paid</label>
        </div>
        <div class="col-sm-6">
            <label><input id="myVehicle" type="search" class="form-control inputSearch" placeholder="Enter Vehicle" style="max-width: 300px"></label>
            <button onclick="searchVehicle()" class="btn-search"> <i class="fa fa-search" aria-hidden="true"></i></button>
        </div>

    </div>

</div>
<table id="cart" class="table table-hover table-condensed" style="margin-top: 20px ;">
    <thead>
        <tr>
            <th style="width:20%">Insurance</th>
            <th style="width:25%">Vehicle</th>
            <th style="width:20%">Expires On</th>
            <th style="width:20%">Date created</th>
            <th style="width: auto;">Price</th>
        </tr>
    </thead>
    <tbody id="bill-list-item-paid">
    </tbody>

</table>
<div class="load-table">
    <!-- loading -->
    <i class="fa fa-spinner fa-pulse fa-3x fa-fw" style="color: #00b2ce;"></i>
    <span class="sr-only">Loading...</span>
</div>
<div>
    <div class="wrap-pagination">
        <ul class="pagination" style="">
        </ul>
    </div>
</div>
@*hien thi thong bao*@

   
<div id="notification-modal-container" class="modal fade bs-example-modal-md" tabindex="-1" role="dialog" aria-labelledby="notification-modal-container">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="noti-modal-header"></h4>
            </div>
            <div class="modal-body" id="noti-modal-body">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" id="close-noti-modal-btn" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


@*Khai báo các thẻ Script vào trong đây, không cần khai báo bootrap, jquery, chỉ khai báo script link qua js script của page hoặc các componet, viết js vào file link đến*@
@section script{
    <script src="~/js/pages/account.js"></script>
    <script src="~/js/pages/paid.js"></script>
}

