﻿
@{
    ViewData["Title"] = "Index";
}
@*Khai báo các thẻ style vào trong đây, không cần khai báo bootrap, jquery, chỉ khai báo style của page hoặc các componet*@
@section styles{
    <link rel="stylesheet" type="text/css" href="~/css/pages/account.css">
    <link rel="stylesheet" type="text/css" href="~/css/pages/EditBillModal.css">
    <link rel="stylesheet" type="text/css" href="~/css/components/itemRowTable.css" />
    <link href="~/css/components/paginationDataTable.css" rel="stylesheet" />
    @*Dùng component thì link => link file css component bên dưới*@
    <link href="~/css/components/loader.css" rel="stylesheet" />
    <link href="~/css/components/input.css" rel="stylesheet" />
    <link href="~/css/components/button.css" rel="stylesheet" />
}

<ul class="nav nav-pills nav-justified" style="border-bottom: 1px solid #e6e1e1">
    <li><a href="/account">My account</a></li>
    <li><a href="/account/my-vehicle-insurance">My Vehicle Insurance</a></li>
    <li><a href="/account/my-vehicle">My Vehicle</a></li>
    <li class="active-nav"><a href="/account/wait-for-pay">Wait For Pay</a></li>
    <li><a href="/account/paid">Paid</a></li>
    <li><a href="/account/claim">Claim</a></li>
</ul>
<div class="loader">
    <i class="fa fa-spinner fa-pulse fa-3x fa-fw icon"></i>
    <span class="sr-only">Loading...</span>
</div>
<div class="row-top-table" style="padding: 10px">
    <div class="row">
        <div class="col-sm-6" style="text-align:left;color:#98ACC0">
            <label style="font-size: 20px ; color:#344659">List Wait For Pay</label>
        </div>
        <div class="col-sm-6">
            <label><input id="myVehicle" type="search" class="form-control inputSearch" placeholder="Enter Vehicle" style="max-width: 300px"></label>
            <button onclick="searchVehicle()" class="btn-search"> <i class="fa fa-search" aria-hidden="true"></i></button>
        </div>

    </div>

</div>
<table id="cart" class="table table-hover table-condensed" style="margin-top: 20px;">
    <thead>
        <tr>
            <th style="width:30%">Insurance</th>
            <th style="width:30%">Vehicle</th>
            <th style="width:20%">Price</th>
            <th style="width:20%"></th>
        </tr>
    </thead>
    <tbody id="bill-list-item">
    </tbody>
</table>
<div class="load-table">
    <!-- loading -->
    <i class="fa fa-spinner fa-pulse fa-3x fa-fw" style="color: #00b2ce;"></i>
    <span class="sr-only">Loading...</span>
</div>
<div>
    <div class="wrap-pagination">
        <ul class="pagination" style="">
        </ul>
    </div>
</div>

@*modal delete*@

<!-- Modal -->
<div class="modal fade " id="exampleModalDeleteBill" tabindex="-1" role="dialog" aria-labelledby="exampleModalDeleteBill" aria-hidden="true">
    <div class="modal-dialog " role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel" style="font-weight:700">Delete Claim</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <input id="billOfsaleID" value="" style="display:none" />
                Are you sure you want to delete this Bill?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-danger" onclick="ComfirmdeleteBillOfSale()">Delete</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal Sửa Bill -->
<div class="modal fade" id="edit-bill" role="dialog">
    <div class="modal-dialog modal-lg" id="edit-bill-modal">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" style="font-weight: bolder; text-align: center; font-size: 180%; color: #344659;">Edit Bill</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" action="">
                    <div class="form-group">
                        <div class="col-sm-12">
                            <div id="customer-chosen-vehicle">
                                <p id="insurance-vehicle-noti">Current Vehicle:</p>
                                <p id="insurance-vehicle-info">
                                    *Model: <span id="model"></span><br />
                                    *License Plate: <span id="license-plate"></span><br />
                                    *Version: <span id="version"></span><br />
                                    *Engine Number: <span id="engine-number"></span><br />
                                    *Body Number: <span id="body-number"></span>
                                </p>
                                <form class="form-horizontal">
                                    <div class="form-group">
                                        <label class="control-label col-sm-6" for="InsuranceQuantity">*Insurance Quantity: </label>
                                        <div class="col-sm-2">
                                            <input class="form-control" required type="number" min="1" name="InsuranceQuantity" id="insurance-quantity"
                                                   placeholder="Enter your Insurance Quantity" onchange="getPriceInsurance()"
                                                   value="1" />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-sm-6" for="YearsOfUsed">*Years Of Used: </label>
                                        <div class="col-sm-2">
                                            <input class="form-control" required type="number" min="1" name="YearsOfUsed" id="years-of-used"
                                                   placeholder="Enter your Vehicle Years of Used" onchange="getPriceInsurance()"
                                                   value="1" />
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="dropdown">
                                <button class="btn btn-default" type="button" id="dropdownCustomerVehicles" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                    Change Your Vehicle
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu" aria-labelledby="dropdownCustomerVehicles" id="customer-vehicle-list">
                                    <!-- Truyền Danh sách Xe của Khách hàng vào đây -->
                                </ul>
                            </div>
                        </div>
                    </div>
                </form>

                <div id="create-bill-area">
                    <p id="insurance-price-noti" style="display: block;">* Your Insurance Price is: <span id="insurance-price-value"></span></p>
                    <br />
                    <button id="btn-create-bill" style="display: none;" class="btn btn-warning btn-lg"
                            onclick="updateBillAction()">
                        Update Your Bill
                    </button>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" id="close-edit-claim-btn" class="btn btn-outline-danger btn-lg" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
@*//modal thong bao*@
<div id="notification-modal-container" class="modal fade bs-example-modal-md" tabindex="-1" role="dialog" aria-labelledby="notification-modal-container">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="noti-modal-header"></h4>
            </div>
            <div class="modal-body" id="noti-modal-body">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" id="close-noti-modal-btn" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

@*Khai báo các thẻ Script vào trong đây, không cần khai báo bootrap, jquery, chỉ khai báo script link qua js script của page hoặc các componet, viết js vào file link đến*@
@section script{
    <script src="~/js/pages/account.js"></script>
    <script src="~/js/pages/waitForPay.js"></script>
    <script src="~/js/pages/EditBillModal.js"></script>
   
}
