﻿
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Login V1</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="~/authentication/images/icons/favicon.ico" />
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/authentication/vendor/bootstrap/css/bootstrap.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/authentication/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/authentication/vendor/animate/animate.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/authentication/vendor/css-hamburgers/hamburgers.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/authentication/vendor/select2/select2.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/authentication/css/util.css">
    <link rel="stylesheet" type="text/css" href="~/authentication/css/main.css">
    <!--===============================================================================================-->
</head>
<body>

    <div class="limiter">
        <div class="container-login100">
            <div class="wrap-login100">
                <div class="login100-pic js-tilt" data-tilt>
                    <img src="~/authentication/images/img-01.png" alt="IMG">
                </div>

                <div class="login100-form validate-form">
                    <span class="login100-form-title">
                        Member Login
                    </span>

                    <div class="wrap-input100 validate-input" data-validate="Valid email is required: ex@abc.xyz">
                        <input class="input100" id="email" type="text" name="email" placeholder="Email">
                        <span class="focus-input100"></span>
                        <span class="symbol-input100">
                            <i class="fa fa-envelope" aria-hidden="true"></i>
                        </span>
                    </div>

                    <div class="wrap-input100 validate-input" data-validate="Password is required">
                        <input class="input100" id="password" type="password" name="pass" placeholder="Password">
                        <span class="focus-input100"></span>
                        <span class="symbol-input100">
                            <i class="fa fa-lock" aria-hidden="true"></i>
                        </span>
                    </div>

                    <div class="container-login100-form-btn">
                        <button class="login100-form-btn">
                            Login
                        </button>
                        <div class="loader" id="loader-1"></div>
                    </div>

                    <div class="text-center p-t-12">
                        <span class="txt1">
                            Forgot
                        </span>
                        <a class="txt2" href="#">
                            Username / Password?
                        </a>
                    </div>

                    <div class="text-center p-t-136">
                        <a class="txt2" href="#">
                            Create your Account
                            <i class="fa fa-long-arrow-right m-l-5" aria-hidden="true"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>




    <!--===============================================================================================-->
    <script src="~/authentication/vendor/jquery/jquery-3.2.1.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/authentication/vendor/bootstrap/js/popper.js"></script>
    <script src="~/authentication/vendor/bootstrap/js/bootstrap.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/authentication/vendor/select2/select2.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/authentication/vendor/tilt/tilt.jquery.min.js"></script>
    <script>
        $('.js-tilt').tilt({
            scale: 1.1
        })
    </script>
    <script src="~/js/Common.js"></script>
    <!--===============================================================================================-->
    <script src="~/authentication/js/main.js"></script>
    <script>
        $(document).ready(function () {
            $('.login100-form-btn').on("click", function () {
                $(".login100-form-btn").css("display", "none");
                $(".loader").css("display", "block");
                let email = $("#email").val();
                let password = $("#password").val();
                let data = {
                    "email": email,
                    "password": password
                }
                $.ajax({
                    method: "POST",
                    contentType: "application/json",
                    url: "https://localhost:44314/api/auth/login",
                    data: JSON.stringify(data),
                    success: function (response) {
                        if (response) {
                            setCookie("admin-name", response.data.adminName, 24 * 365);
                            setCookie("admmin-id", response.data.adminId, 24 * 365);
                            setCookie("admin-token", response.data.token, 24 * 365);
                            location.href = "Report"
                        } else {
                            console.log("login error")
                        }
                        $(".login100-form-btn").css("display", "block");
                        $(".loader").css("display", "none");
                    },
                    error: function (e) {
                        console.log("error " + e);
                        $(".login100-form-btn").css("display", "block");
                        $(".loader").css("display", "none");
                    }
                });
            });
        });
    </script>

</body>
</html>