﻿#open-add-new-customer {
    display: inline-block;
}

#send-email-all-customer {
    display: inline-block;
}

#tool-area{
    width: 100%;
    margin-bottom: 20px;
    margin-top: 20px;
}

i{
    margin-right: 10px;
}

#list-data-table-account > tr{
}

#list-data-table-account > tr:hover{
}

#list-data-table-account > tr > .td-link{
    text-decoration: none;
}

    #list-data-table-account > tr > .td-link:hover {
        color: #00b2ce;
        text-decoration: underline;
    }

.ctrl{
    text-align: left !important;
    padding-left: 0px !important;
    padding-top: 0px;
}

.box-body {
    min-height: 500px !important;
}
