﻿#add-insurance-btn{
    display: block;
    margin: auto;
    margin-top: 10px;
}

.ins-name {
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    text-decoration: none;
    font-weight: bolder;
}

    .ins-name:hover {
        text-decoration: underline;
        color: #00b2ce;
    }

.ins-bill {
    text-decoration: none;
    cursor: pointer;
    font-weight: bolder;
}

    .ins-bill:hover {
        text-decoration: underline;
        color: #00b2ce;
    }

.ins-price{
    font-weight: bolder;
}

.ins-details-content {
    border: none !important;
    outline: none !important;
    background-color: #FFF !important;
    font-weight: bolder !important;
    color: #00b2ce !important;
    cursor: pointer !important;
}

.ins-paid {
    font-weight: bolder;
    color: #2ecc71;
}

.ins-unpaid {
    font-weight: bolder;
    color: #c0392b;
}

.ins-vehicle {
    font-weight: bolder;
    cursor: pointer;
    text-decoration: none;
}

    .ins-vehicle:hover {
        text-decoration: underline;
        color: #00b2ce;
    }

.ins-details-tbl{
    width: 90%;
    margin: auto;
}

    .ins-details-tbl th{
        text-align: center;
        vertical-align: middle;
    }

    .ins-details-tbl > tbody > tr{

    
    }

    .ins-details-tbl > tbody > tr:hover{
    }

#ins-details-present-title-1 {
    text-align: center;
    font-size: 180%;
    margin-bottom: 30px;
    margin-top: 50px;
    font-weight: bolder;
    color: #344659;
}

#ins-details-present-title-2 {
    text-align: center;
    font-size: 180%;
    margin-bottom: 30px;
    margin-top: 50px;
    font-weight: bolder;
    color: #344659;
}

#ins-details-present-title-3 {
    text-align: center;
    font-size: 180%;
    margin-bottom: 30px;
    margin-top: 50px;
    font-weight: bolder;
    color: #344659;
}

#ins-details-present-title-4 {
    text-align: center;
    font-size: 180%;
    margin-bottom: 30px;
    margin-top: 50px;
    font-weight: bolder;
    color: #344659;
}

#ins-details-total-bill {
    transition: 0.2s;
    text-decoration: none;
}

    #ins-details-total-bill:hover{
        text-decoration: underline;
        font-size: 120%;
    }

#ins-details-total-customer {
    transition: 0.2s;
    text-decoration: none;
}

    #ins-details-total-customer:hover {
        text-decoration: underline;
        font-size: 120%;
    }

.box-body{
    min-height: 500px !important;
}

#list-data-table-model > tr {
}

#list-data-table-model > tr:hover{
}

    #list-data-table-model > tr > td:nth-of-type(1) {
        text-align: left !important;
    }

    #list-data-table-model > tr > td {
        text-decoration: none;
        max-height: 50px !important;
    }

        #list-data-table-model > tr > .td-link:hover {
            color: #00b2ce;
            text-decoration: underline;
        }

#ins-details-description{
    overflow: hidden;
    text-overflow: ellipsis;
}

#table-cus {
    width: 50%;
    max-height: 200px;
    overflow-y: auto;
}

#table-cus {
    max-height: 200px;
    overflow-y: auto;
}

.fa-info-circle{
    cursor: pointer;
    transition: 0.25s;
    display: inline-block;
}

.fa-info-circle:hover {
    transform: scale(1.7);
}