﻿#version-noti-p1 {
    text-align: center;
    font-size: 120%;
    margin: auto;
}

#version-noti-p2 {
    text-align: center;
    font-size: 120%;
    margin: auto;
}

#version-table{
    margin: auto;
}

#version-table td{
    cursor: pointer;
}

#vehicle-model-table{
    vertical-align: middle;
}

.box-body{
    min-height: 500px;
}

i{
    margin-right: 7px;
}

