﻿@{
    ViewData["Title"] = "Home Page";
}
@section styles{
    <link href="~/AdminLTE-2.2.0/plugins/daterangepicker/daterangepicker-bs3.css" rel="stylesheet" />
    <!-- daterange picker -->
    <link href="~/AdminLTE-2.2.0/plugins/daterangepicker/daterangepicker-bs3.css" rel="stylesheet" type="text/css" />
    <!-- iCheck for checkboxes and radio inputs -->
    <link href="~/AdminLTE-2.2.0/plugins/iCheck/all.css" rel="stylesheet" type="text/css" />
    @* Bootstrap Color Picker *@
    <link href="~/AdminLTE-2.2.0/plugins/colorpicker/bootstrap-colorpicker.min.css" rel="stylesheet" type="text/css" />
    @* Bootstrap time Picker *@
    <link href="~/AdminLTE-2.2.0/plugins/timepicker/bootstrap-timepicker.min.css" rel="stylesheet" type="text/css" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css" />

}
<section class="content-header">
    <h1>
        Page Header
        <small>Optional description</small>
    </h1>

    <div class="form-group">
        <label>Date range:</label>
        <div class="input-group">
            <div class="input-group-addon">
                <i class="fa fa-calendar"></i>
            </div>
            <input type="text" class="form-control pull-right" id="reservation" />
        </div><!-- /.input group -->
    </div><!-- /.form group -->

</section>

<!-- Main content -->
<section class="content">
    View Home
</section>
@section script{
    <script src="~/js/components/inputDatetime.js"></script>
    <!-- date-range-picker -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.2/moment.min.js" type="text/javascript"></script>
    <script src="~/AdminLTE-2.2.0/plugins/daterangepicker/daterangepicker.js" type="text/javascript"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js" type="text/javascript"></script>

}