﻿
@{
    ViewData["Title"] = "Index";
}
@*Khai báo các thẻ style vào trong đây, không cần khai báo bootrap, jquery, chỉ khai báo style của page hoặc các componet*@
@section styles{
   
    <link rel="stylesheet" type="text/css" href="~/css/pages/policy.css">
    <link href="~/template/css/style.css" rel="stylesheet" type="text/css" />
    @*Dùng component thì link => link file css component bên dưới*@

}
<div>

    @*
        <h2>
            <strong>Making claims</strong>
        </h2>

        <h3>
            <strong>General information on taking out an insurance policy and making a claim...</strong>
        </h3>
        <pre>
            All motorised vehicles driven are required to be insured.
            Having a civil liability insurance policy is compulsory and complies with the requirements of the law.
            Uninsured drivers may be fined and are at risk of having their vehicles confiscated.
        </pre>

        <img src="~/asset/1_car.gif" alt="car insurance" style="margin: auto" />


        <div style="text-align: center">
            <h3>
                <strong>Additional Car Insurance</strong>
            </h3>

            <pre>
                Additional insurance coverage may be purchased to augment the compulsory civil liability insurance.
                Policies are available to cover the following eventualities:

                Physical damage insurance covers the damage to a vehicle in case of an accident.
                The cost for this coverage is generally 1.5 percent of the vehicle’s value

                Insurance to cover the medical expenses of the driver or passengers if the vehicle is involved in an accident

                Insurance that insures the goods within a vehicle in case of accident

                Discounts are available for drivers who have had no accidents or claims in Vietnam in the previous year.
                However, having no claims or accidents while driving in other countries is not taken into consideration when calculating premiums.
            </pre>
        </div>

        <div style="text-align: center">
            <p>
                <strong>To obtain insurance</strong>
            </p>
            <pre>
                Applicants need to present their personal identification and valid documents required
                for the vehicle to be insured, such as their passport, visa or identity card. Many insurance companies have
                English-speaking staff available to assist foreigners with selecting the best policy for their needs.
            </pre>
        </div>
    *@

    @*
        TOP BODY
    *@
    <div class="top-body">
        <h1 style="text-align: center;">INSURANCE POLICY</h1>
    </div>


    @*
        BODY 1
    *@
    <div class="body effect-9 color-grey" id="body1">


        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                <div id="header1-body1" style="margin: auto;">
                    <p style="color: #0a5184; font-size: 4vh;">MAKING CLAIMS</p>
                    <i class="fa fa-car" id="icon1"></i>
                </div>
                <div id="header2-body1" style="padding-top: 2vh;">
                    <img src="~/asset/claim_1.jpg" id="img1" />
                </div>
                <div id="header3-body1" style="padding-top: 2vh;">
                    <div class="collapse navbar-collapse navbar-main-collapse">
                        <ul class="nav navbar-nav navbar-right">
                            <li>
                                <div style="text-align: center;">
                                    <a id="button1" href="@Url.Action("MyVehicleInsurance", "Account")" class="btn-default">MAKE CLAIMS NOW!</a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
                <div id="body1-body1">
                    <p style="font-size: 3vh;">General information on taking out an insurance policy and making a claim...</p>
                </div>
                <div id="body2-body1" style="padding: 2vh">
                    <img src="~/asset/claim_2_copy.jpg" id="img2" />
                </div>
                <div id="body3-body1" style="text-align: left; height: auto">
                    <p style="font-size: 2vh;">
                        All motorised vehicles driven are required to be insured.
                        Having a civil liability insurance policy is compulsory and complies with the requirements of the law.
                        Uninsured drivers may be fined and are at risk of having their vehicles confiscated.
                        Some claims will be checked and jusified to be accepted or not.
                    </p>

                </div>
            </div>
        </div>

    </div>



    @*
        BODY 2
    *@
    <div class="body effect-9 color-grey" id="body2">

        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                <div id="header1-body2" style="margin: auto;">
                    <p style="color: #0a5184; font-size: 4vh;">ADDITIONAL CAR INSURANCE</p>
                    <i class="fa fa-plus" id="icon2"></i>
                </div>
                <div id="header2-body2" style="padding-top: 2vh;">
                    <img src="~/asset/car_wreck_2.jpg" id="img3" />
                </div>
            </div>

            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
                <div id="body1-body2">
                    <p style="font-size: 3vh;">
                        Additional insurance coverage may be purchased to augment the compulsory civil liability insurance.
                        Policies are available to cover the following eventualities:
                    </p>
                </div>
                <div id="body2-body2" style="padding: 2vh">
                    <img src="~/asset/car_insurance_3.jpg" id="img4" />
                </div>
                <div id="body3-body2" style="text-align: left; height: auto">

                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
                <p style="font-size: 2vh; text-align: left">
                    &#8226; Physical damage insurance covers the damage to a vehicle in case of an accident.
                    The cost for this coverage is generally 1.5 percent of the vehicle’s value
                    <br />
                    <br />
                    &#8226; Insurance to cover the medical expenses of the driver or passengers if the vehicle is involved in an accident

                </p>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
                <div style="margin: auto">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-6 col-xs-6">
                            <i class="fa fa-camera" id="icon4" style="margin: auto"></i>
                        </div>                        
                        <div class="col-lg-12 col-md-12 col-sm-6 col-xs-6">
                            <i class="fas fa-car-crash" id="icon5" style="margin: auto"></i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
                <p style="font-size: 2vh; text-align: left">
                    &#8226; Insurance that insures the goods within a vehicle in case of accident
                    <br />
                    <br />
                    &#8226; Discounts are available for drivers who have had no accidents or claims in Vietnam in the previous year.
                    However, having no claims or accidents while driving in other countries is not taken into consideration when calculating premiums.
                </p>
            </div>
        </div>
    </div>

    @*
        BODY 3
    *@
    <div class="body effect-9 color-grey" id="body3">


        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                <div id="header1-body3" style="margin: auto;">
                    <p style="color: #0a5184; font-size: 4vh;">TO OBTAIN INSURANCE</p>
                    <i class="fa fa-sticky-note" id="icon3"></i>
                </div>
                <div id="header2-body3" style="padding-top: 2vh;">
                    <img src="~/asset/identity_card_1.jpg" id="img5" />
                </div>

            </div>

            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
                <div id="body1-body3">

                </div>
                <div id="body2-body3" style="padding: 2vh">
                    <img src="~/asset/insurance_1.jpg" id="img6" />
                </div>
                <div id="body3-body3" style="text-align: left; height: auto">
                    <p style="font-size: 2vh;">
                        Applicants need to present their personal identification and valid documents required
                        for the vehicle to be insured, such as their passport, visa or identity card. Many insurance companies have
                        English-speaking staff available to assist foreigners with selecting the best policy for their needs.
                    </p>
                </div>
            </div>
        </div>

    </div>



    @*Khai báo các thẻ Script vào trong đây, không cần khai báo bootrap, jquery, chỉ khai báo script link qua js script của page hoặc các componet*@
    @section script{
        <script src="~/js/pages/policy.js"></script>

    }

