﻿
@{
    ViewData["Title"] = "Insurance";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section styles{
    <link href="~/css/components/loader.css" rel="stylesheet" />
    <link href="~/css/pages/Insurance.css" rel="stylesheet" />
}

<section class="content-header">
    <h1>
        Insurance
        <small>List Of Insurance</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="/"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Insurance</li>
    </ol>
</section>

<div class="loader">
    <i class="fa fa-spinner fa-pulse fa-3x fa-fw icon"></i>
    <span class="sr-only">Loading...</span>
</div>

<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">Insurances</h3>
                </div><!-- /.box-header -->
                <div class="box-body">
                    <button type="button" class="btn btn-info" data-toggle="modal" data-target="#add-insurance">
                        <i class="fa fa-plus" title="Add Insurance" style="margin-right: 7px"></i>Add New Insurance
                    </button>
                    <br /><br />
                    <table id="insurance-table" class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>Insurance Name</th>
                                <th style="text-align:center">Price Percent by Vehicle Value</th>
                                <th style="text-align:center">Minimum Value Refund</th>
                                <th style="text-align:center">Maximum Value Refund</th>
                                <th style="text-align:center">Maximum Refund Quantity</th>
                                <th style="text-align:center">Created At</th>
                                <th style="text-align:center">Duration Month Unit</th>
                                <th style="text-align:center">Option</th>
                            </tr>
                        </thead>
                        <tbody id="list-data-table-model">
                            <!-- Fill Model data into here -->
                        </tbody>
                    </table>

                    <div class="load-table">
                        <!-- loading animation for table -->
                        <i class="fa fa-spinner fa-pulse fa-3x fa-fw" style="color: #00b2ce;"></i>
                        <span class="sr-only">Loading...</span>
                    </div>



                </div><!-- /.box-body -->
                <!-- Pagination -->
                <div>
                    <div class="wrap-pagination">
                        <ul class="pagination" style="">
                        </ul>
                    </div>
                </div>
            </div><!-- /.box -->
        </div><!-- /.col -->
    </div><!-- /.row -->
</section>

<!-- Modal Insurance Description -->
<div class="modal fade" id="insurance-description" role="dialog" style="z-index: 99999; min-height: 500px; max-width:">
    <div class="modal-dialog modal-lg" id="insurance-description-modal">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" id="ins-description-title" style="font-weight: bolder; font-size: 180%; color: #344659;"></h4>
            </div>
            <div class="modal-body" id="ins-description-body" style="font-size: 110%; color: #344659;">
                
            </div>
            <div class="modal-footer">
                <button type="button" id="close-add-insurance-btn" class="btn btn-outline-danger btn-lg" onclick="closeInsuranceDetailsModal()" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal Insurance Details -->
<div class="modal fade" id="insurance-details" role="dialog" style="z-index: 99998">
    <div class="modal-dialog modal-lg" id="insurance-details-modal">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" id="ins-details-title" style="font-weight: bolder; text-align: center; font-size: 180%; color: #344659;"></h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" style="text-align: center">
                    <div class="form-group">
                        <label class="control-label col-sm-6">*Price Percent By Car Value:</label>
                        <div class="col-sm-6">
                            <input disabled class="form-control ins-details-content" id="ins-details-price-percent-by-car-value" style="font-weight: bolder; color: #00b2ce">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-6">*Minimum Value Refund:</label>
                        <div class="col-sm-6">
                            <input disabled class="form-control ins-details-content" id="ins-details-min-value-refund" style="font-weight: bolder; color: #00b2ce">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-6">*Maximum Value Refund:</label>
                        <div class="col-sm-6">
                            <input disabled class="form-control ins-details-content" id="ins-details-max-value-refund" style="font-weight: bolder; color: #00b2ce">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-6">*Maximum Refund Quantity:</label>
                        <div class="col-sm-6">
                            <input disabled class="form-control ins-details-content" id="ins-details-max-refund-quantity" style="font-weight: bolder; color: #00b2ce">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-6">*Duration Month Unit:</label>
                        <div class="col-sm-6">
                            <input disabled class="form-control ins-details-content" id="ins-details-duration-month-unit" style="font-weight: bolder; color: #00b2ce">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-6">*Description:</label>
                        <div class="col-sm-6" style="text-align: left; padding-top: 7px">
                            <i class="fa fa-info-circle" style="margin-right: 7px; margin-left: 11px;color: #00b2ce" data-target="#insurance-description" data-toggle="modal"></i>
                            <span style="font-size: 80%; font-style: italic; color: #00b2ce">(Click this icon to see description)</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-6">*Total Bill(s) Bought:</label>
                        <div class="col-sm-6" onclick="openBillCountArea()">
                            <input disabled class="form-control ins-details-content" id="ins-details-total-bill">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-6">*Total Customer(s) Bought:</label>
                        <div class="col-sm-6" onclick="openCustomerCountArea()">
                            <input disabled class="form-control ins-details-content" id="ins-details-total-customer">
                        </div>
                    </div>
                    <!-- Vùng thông tin về cac Hóa đơn của Bảo hiểm này-->
                    <div id="bill-count-area" style="display: none;">
                        <p id="ins-details-present-title-1">All Bill(s) of this Insurance:</p>
                        <p id="ins-details-present-title-2">This Insurance dont have any Purchase yet!</p>
                        <table class="table table-bordered table-hover table-responsive ins-details-tbl" id="table-bill">
                            <thead>
                                <tr>
                                    <th>Bill Number</th>
                                    <th>Customer</th>
                                    <th>Total Price</th>
                                    <th>Status</th>
                                    <th>Vehicle</th>
                                </tr>
                            </thead>
                            <tbody id="ins-details-tbl-body">
                                <!-- Đổ dữ liệu chi tiết vào đây -->
                            </tbody>
                        </table>
                    </div>
                    <!-- Vùng thông tin về cac Khách hàng của Bảo hiểm này-->
                    <div id="customer-count-area" style="display: none;">
                        <p id="ins-details-present-title-3">All Customer(s) of this Insurance:</p>
                        <p id="ins-details-present-title-4">This Insurance dont have any Purchase yet!</p>
                        <table class="table table-bordered table-hover table-responsive ins-details-tbl" id="table-cus">
                            <thead>
                                <tr>
                                    <th width="50%">Customer</th>
                                    <th width="50%">Bought This Insurance Time(s)</th>
                                </tr>
                            </thead>
                            <tbody id="ins-details-tbl-body-cus">
                                <!-- Đổ dữ liệu chi tiết vào đây -->
                            </tbody>
                        </table>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" id="close-add-insurance-btn" class="btn btn-outline-danger btn-lg" onclick="closeInsuranceDetailsModal()" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal Add Insurance -->
<div class="modal fade" id="add-insurance" role="dialog">
    <div class="modal-dialog modal-lg" id="add-insurance-modal">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" style="font-weight: bolder; text-align: center; font-size: 180%; color: #344659;">Add Insurance</h4>
            </div>
            <div class="modal-body">
                <br />
                <form class="form-horizontal" style="text-align: center">
                    <div class="form-group">
                        <div class="col-sm-2"></div>
                        <label class="control-label col-sm-3" for="AddInsuranceName" style="text-align: left">*Insurance Name:</label>
                        <div class="col-sm-6">
                            <input required type="text" class="form-control" id="add-insurance-name"
                                   placeholder="Enter Insurance Name" name="AddInsuranceName">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-2"></div>
                        <label class="control-label col-sm-3" for="PricePercentByCarValue" style="text-align: left">*Price Percent By Car Value:</label>
                        <div class="col-sm-6">
                            <input required step="any" min="0" type="number" class="form-control" id="add-price-percent-by-car-value"
                                   placeholder="Enter Price Percent By Vehicle Value" name="PricePercentByCarValue">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-2"></div>
                        <label class="control-label col-sm-3" for="MinValueRefund" style="text-align: left">*Minimum Value Refund:</label>
                        <div class="col-sm-6">
                            <input required disabled min="0" type="number" class="form-control" id="add-min-value-refund"
                                   placeholder="Enter Minimum Value Refund" name="MinValueRefund" value="0">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-2"></div>
                        <label class="control-label col-sm-3" for="MaxValueRefund" style="text-align: left">*Maximum Value Refund:</label>
                        <div class="col-sm-6">
                            <input required min="0" type="number" class="form-control" id="add-max-value-refund"
                                   placeholder="Enter Maximum Value Refund" name="MaxValueRefund">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-2"></div>
                        <label class="control-label col-sm-3" for="MaxRefundQuantity" style="text-align: left">*Maximum Refund Quantity:</label>
                        <div class="col-sm-6">
                            <input required min="0" type="number" class="form-control" id="add-max-refund-quantity"
                                   placeholder="Enter Maximum Refund Quantity" name="MaxRefundQuantity">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-2"></div>
                        <label class="control-label col-sm-3" for="DurationMonthUnit" style="text-align: left">*Duration Month Unit:</label>
                        <div class="col-sm-6">
                            <input required min="0" type="number" class="form-control" id="add-duration-month-unit"
                                   placeholder="Enter Duration Month Unit" name="DurationMonthUnit">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-2"></div>
                        <label class="control-label col-sm-3" for="Desciption" style="text-align: left">*Desciption:</label>
                        <div class="col-sm-6">
                            <textarea required type="text" class="form-control" id="add-description"
                                      placeholder="Enter Desciption" name="Desciption" style="height: 120px"></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <button type="button" class="btn btn-success" id="add-insurance-btn" onclick="addNewInsurance()">
                            <i class="fa fa-plus" title="Add Customer" style="margin-right: 7px;"></i>Add Insurance
                        </button>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" id="close-add-insurance-btn" class="btn btn-outline-danger btn-lg" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal Edit Insurance -->
<div class="modal fade" id="edit-insurance" role="dialog">
    <div class="modal-dialog modal-lg" id="edit-insurance-modal">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" style="font-weight: bolder; text-align: center; font-size: 180%; color: #344659;">Edit insurance</h4>
            </div>
            <div class="modal-body">
                <br />
                <form class="form-horizontal" style="text-align: center">
                    <div class="form-group">
                        <div class="col-sm-2"></div>
                        <label class="control-label col-sm-3" for="editInsuranceName" style="text-align: left">*Insurance Name:</label>
                        <div class="col-sm-6">
                            <input required type="text" class="form-control" id="edit-insurance-name"
                                   placeholder="Enter Insurance Name" name="editInsuranceName">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-2"></div>
                        <label class="control-label col-sm-3" for="PricePercentByCarValue" style="text-align: left">*Price Percent By Car Value:</label>
                        <div class="col-sm-6">
                            <input required step="any" min="0" type="number" class="form-control" id="edit-price-percent-by-car-value"
                                   placeholder="Enter Price Percent By Vehicle Value" name="PricePercentByCarValue">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-2"></div>
                        <label class="control-label col-sm-3" for="MinValueRefund" style="text-align: left">*Minimum Value Refund:</label>
                        <div class="col-sm-6">
                            <input required disabled min="0" type="number" class="form-control" id="edit-min-value-refund"
                                   placeholder="Enter Minimum Value Refund" name="MinValueRefund" value="0">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-2"></div>
                        <label class="control-label col-sm-3" for="MaxValueRefund" style="text-align: left">*Maximum Value Refund:</label>
                        <div class="col-sm-6">
                            <input required min="0" type="number" class="form-control" id="edit-max-value-refund"
                                   placeholder="Enter Maximum Value Refund" name="MaxValueRefund">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-2"></div>
                        <label class="control-label col-sm-3" for="MaxRefundQuantity" style="text-align: left">*Maximum Refund Quantity:</label>
                        <div class="col-sm-6">
                            <input required min="0" type="number" class="form-control" id="edit-max-refund-quantity"
                                   placeholder="Enter Maximum Refund Quantity" name="MaxRefundQuantity">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-2"></div>
                        <label class="control-label col-sm-3" for="DurationMonthUnit" style="text-align: left">*Duration Month Unit:</label>
                        <div class="col-sm-6">
                            <input required min="0" type="number" class="form-control" id="edit-duration-month-unit"
                                   placeholder="Enter Duration Month Unit" name="DurationMonthUnit">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-2"></div>
                        <label class="control-label col-sm-3" for="Description" style="text-align: left">*Desciption:</label>
                        <div class="col-sm-6">
                            <textarea required type="text" class="form-control" id="edit-description"
                                      style="height: 120px;" placeholder="Enter Description" name="Description"></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <button type="button" class="btn btn-warning" id="edit-insurance-btn" onclick="editInsurance()">
                            <i class="fa fa-edit" title="Edit Insurance" style="margin-right: 7px;"></i>Edit Insurance
                        </button>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" id="close-edit-insurance-btn" class="btn btn-outline-danger btn-lg" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal Delete Model -->
<div class="modal fade" id="delete-insurance" role="dialog">
    <div class="modal-dialog modal-md" id="delete-insurance-modal">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" style="font-weight: bolder; text-align: center; font-size: 180%; color: #344659;">Delete Insurance</h4>
            </div>
            <div class="modal-body">
                <br />
                <p>Are you sure to delete this Insurance?</p>
            </div>
            <div class="modal-footer">
                <button type="button" id="confirm-delete-insurance-btn" class="btn btn-danger btn-lg"
                        data-dismiss="modal" onclick="deleteInsurance()">
                    <i class="fa fa-trash" title="Delete Insurance" style="margin-right: 7px;"></i>Delete
                </button>
                <button type="button" id="close-delete-model-btn" class="btn btn-outline-danger btn-lg" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<!-- Notification Modal -->
<div id="notification-modal-container" style="display: none;">
    <!-- Large modal -->
    <button type="button" class="btn btn-primary" id="noti-modal-button" data-toggle="modal" data-target=".bs-example-modal-md">Large modal</button>

    <div class="modal fade bs-example-modal-md" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" style="z-index: 1000000000">
        <div class="modal-dialog modal-md">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="hideNotificationModal()"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="noti-modal-header"></h4>
                </div>
                <div class="modal-body" id="noti-modal-body">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal" onclick="hideNotificationModal()">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>

@section script{
    <script src="~/js/pages/Insurance.js"></script>
    <script src="~/js/components/ShowNotificationModal.js"></script>
}