﻿.color-Accepted {
    font-weight: 700;
    color: #f39c12;
}
.color-Rejected {
    font-weight: 700;
    color: #c0392b;
}
.color-Success {
    font-weight: 700;
    color: #2ecc71;
}
.color-Pending {
    font-weight: 700;
    color: #00c0ef;
}
.color-Payment {
    font-weight: 700;
    color: #00c0ef;
}

.color-Unknown {
    font-weight: 700;
    color: #222222;
}


#claim-status {
    padding:5px;
    max-width: 100px;
    border-radius: 5px;
    border:none;
    background-color: #00c0ef;
    color:#fff;

}
.td-link {
    /*Code CSS vào đây cho phần TD*/
    text-decoration: none;
    cursor: pointer;
}
/*Code CSS vào đây cho phần TD khi được hover*/
.td-link:hover {
    text-decoration: underline;
}

