﻿#claim-form {
    display: block;
    margin: auto;
    width: 60%;
    margin-top: 30px;
}

#body-claim-textarea {
    resize: none;
    width: 100%;
    height: 100px;
    overflow-y: auto;
}

#claim-submit-btn {
    display: block;
    margin: auto;
    margin-top: 20px;
}

#upload-image-btn {
    display: block;
    margin: auto;
    margin-top: 20px;
}
.container-img {
    width: 500px;
    margin: auto;
    text-align: center;
}

#claimImg {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

    #claimImg:hover {
        opacity: 0.7;
    }

/* định dạng phần nền của modal */
.modal-img {
    display: none; /* mặc định được ẩn đi */
    position: fixed; /* vị trí được cố định */
    z-index: 10; /* ưu tiên hiển thị đầu tiên */
    padding-top: 100px;
    left: 0;
    top: 50px;
    width: 100%;
    height: 100%;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.9);
}

/* Phần nội hình ảnh của modal */
.modal-content-img {
    display: block;
    position: absolute;
    width: 50%;
    height: 50%;
    left: 23%;
}



/* Hiệu ứng chuyển động*/
.modal-content {
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

/* Button đóng Modal */
.close-img {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

    .close-img:hover,
    .close-img:focus {
        color: #bbb;
        text-decoration: none;
        cursor: pointer;
    }

.scroll-mig {
    display: block;
    padding: 5px;
    margin-top: 5px;
    height: 400px;
    overflow-y: scroll;
}

.claim-Approved {
    color: green;
    font-weight: 700,
}

.claim-wait {
    color: red;
    font-weight: 700;
}
