﻿/*Table phaỉ có thêm 3 class table, table-hover, table-condensed của BS*/
.our-table {
    /*Code CSS vào đây cho cả table*/
}

.our-table-body{
    /*Code CSS vào đây cho phần body*/
}

    .our-table > thead > tr > th {
        color: #00b2ce;
        vertical-align: middle;
        text-align: center;
    }

    .our-table > tbody > tr:hover {
        font-weight: bolder;
    }

        .our-table > tbody > tr > td {
            vertical-align: middle;
            text-align: center;
        }

        .our-table > tbody > tr > td:hover {
            color: #00b2ce;
        }

.td-link {
    /*Code CSS vào đây cho phần TD*/
    text-decoration: none;
    cursor: pointer;
}
    /*Code CSS vào đây cho phần TD khi được hover*/
    .td-link:hover {
        text-decoration: underline;
        color: #00b2ce;
    }

.td-tag {
    display: flex;
    justify-content: space-between;
    padding-right: 10% !important;
    padding-left: 10% !important;
}

.td-center{
    text-align: center;
}

.td-tag .label{
    display: flex;
    justify-content: center;
    align-items: center;
}