﻿
@{
    ViewData["Title"] = "Approvel";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section styles{
    <link href="~/css/components/loader.css" rel="stylesheet" />
    <link href="~/css/components/modalImg.css" rel="stylesheet" />
    <link href="~/css/components/ColorStatusClaimUnpaid.css" rel="stylesheet" />
}
<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        Claim
        <small>Claim Paid</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="/"><i class="fa fa-dashboard"></i>Home</a></li>
        <li class="active">Unpaid Claim</li>
    </ol>
</section>
<div class="loader">
    <i class="fa fa-spinner fa-pulse fa-3x fa-fw icon"></i>
    <span class="sr-only">Loading...</span>
</div>
<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <div class="row">
                        <h3 class="box-title col-sm-6">List Claim Paid</h3>
                        <div class="box-tools col-sm-6">
                            <div class="form-group  pull-right">
                                <div class="input-group">
                                    <input style="width:250px" type="text" class="form-control" id="searchClaimFromCus" placeholder="Email - Phone - Name -> Enter" />
                                </div><!-- /.input group -->
                            </div><!-- /.form group -->
                            <div class="input-group" style="float: right; width: 250px;">
                                <div class="input-group-addon">
                                    <i class="fa fa-calendar"></i>
                                </div>
                                <input type="text" class="form-control pull-right" id="datePicker" />
                            </div>
                        </div>
                    </div>
                </div><!-- /.box-header -->
                <div class="box-body" style="min-height:500px">
                    <table id="example2" class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>id</th>
                                <th>bodyClaim</th>
                                <th>customName</th>
                                <th>cusPhone</th>
                                <th>cusEmail</th>
                                <th>Create Datime</th>
                                <th>Total Value</th>
                                <th></th>
                                <th style="text-align:center">Action</th>
                            </tr>
                        </thead>
                        <tbody id="list-data-table-ClaimApprovel">
                        </tbody>


                    </table>
                    <div class="load-table">
                        <!-- loading -->
                        <i class="fa fa-spinner fa-pulse fa-3x fa-fw" style="color: #00b2ce;"></i>
                        <span class="sr-only">Loading...</span>
                    </div>

                </div>
                <div>
                    <div class="wrap-pagination pull-right">
                        <ul class="pagination" style="">
                        </ul>
                    </div>
                </div><!-- /.box-body -->
            </div><!-- /.box -->
        </div><!-- /.col -->
    </div><!-- /.row -->
</section>
<!--Modal Thông Báo xac nhan*-->
<div class="modal fade bs-example-modal-lg" id="notification-modal-container" tabindex="-1" role="dialog" aria-labelledby="notification-modal-container" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="hideNotificationModal()"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="noti-modal-header"></h4>
            </div>
            <div class="modal-body" id="noti-modal-body">

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" onclick="hideNotificationModal()">Close</button>
            </div>
        </div>
    </div>
</div>
@*modal xem chi tiet*@
<div class="modal fade" id="exampleModalDetails" tabindex="-1" role="dialog" aria-labelledby="exampleModalDetails" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel" style="font-weight:700">Approvel</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="body-bill-detail">

            </div>
            <div class="load-table-detail">
                <!-- loading -->
                <i class="fa fa-spinner fa-pulse fa-3x fa-fw icon-detail-modal" style="color: #00b2ce;"></i>
                <span class="sr-only">Loading...</span>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<!-- Modal IMG -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body scroll-mig force-overflow" id="displayImgs" style="text-align:center">

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="RemoveImg()">Close</button>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="container-img">
        <div id="myModal-img" class="modal-img">
            <span class="close-img">&times;</span>
            <img class="modal-content-img " id="img01">
        </div>
    </div>
</div>
@section script{
    <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
    <script>
        $('#datePicker').daterangepicker({
            locale: { cancelLabel: 'Clear' }
        });
    </script>
    <script src="~/js/Common.js"></script>
    <script src="~/js/pages/ClaimApprovel.js"></script>
}

