﻿
@{
    ViewData["Title"] = "ClaimDetailPaid";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section styles{
    <link href="/css/pages/ClaimDetail.css" rel="stylesheet" />
    <link href="/css/components/loader.css" rel="stylesheet" />
    <link href="/css/components/ColorStatusClaimUnpaid.css" rel="stylesheet" />
}
<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        Claim
        <small> Paid Claim Detail</small>
        <a href="/Claim/UnPaid" style="margin-left: 5px ;font-size:14px"> Back To UnPaid Claim  |</a>
        <a href="/Claim/Approvel" style="font-size: 14px">| Back To Paid Claim  </a>
    </h1>

</section>

<!-- Main content -->
<!-- Main content -->
<div class="load-table">
    <!-- loading -->
    <i class="fa fa-spinner fa-pulse fa-3x fa-fw" style="color: #00b2ce;"></i>
    <span class="sr-only">Loading...</span>
</div>
<section class="invoice">
    <!-- title row -->
    <div class="row">
        <div class="col-xs-12">
            <h1 class="page-header">
                <i class="fa fa-globe"></i>Paid  Claim Detail

            </h1>
            <ol class="breadcrumb">
                <li><a href="/"><i class="fa fa-dashboard"></i>Home</a></li>
                <li class="active">Paid Claim Detail</li>
            </ol>
        </div><!-- /.col -->
    </div>
    <!-- info row -->
    <div class="row invoice-info">
        <div class="col-sm-4 invoice-col">
            <h3>Customer</h3>
            <address id="Claim-Customer">
                <div><span>customName : </span></div>
                <div><span>cusPhone : </span></div>
                <div><span>cusEmail : </span></div>
                <div><span>passport : </span></div>
            </address>
        </div><!-- /.col -->
        <div class="col-sm-4 invoice-col">
            <h3>Claim Vehicle</h3>
            <address id="claim-Vehicle">
                <div><span>licensePlates : </span></div>
                <div><span>vehicleModelName : </span></div>
                <div><span>vehicleVersionName : </span></div>
            </address>
        </div><!-- /.col -->
        <div class="col-sm-4 invoice-col">
            <h3>Insurance</h3>
            <address id="claim-insurance">
                <div><span>insuranceId : </span></div>
                <div><span>pricePercentByCarValue : </span></div>
                <div><span>minValueRefund : </span></div>
                <div><span>maxValueRefund : </span></div>
                <div><span>durationMonthUnit : </span></div>
            </address>
        </div><!-- /.col -->
    </div><!-- /.row -->

    <div class="row">

        <!-- accepted payments column -->
        <div class="col-md-4" >
            <h3 class="lead" style="font-weight:700">Insurance Sold</h3>
            <address id="claim-bill-of-sale">
                <div><span>insuranceDurationMonthly : </span></div>
                <div><span>totalPrice : </span></div>
                <div><span>expiresOn : </span></div>
                <div><span>Datetime : </span></div>
            </address>
           
        </div><!-- /.col -->
        <div class="col-md-8">
            <p class="lead" style="font-weight:700">Claim Detail</p>
            <div class="table-responsive">
                <table class="table" id="claim-Detail">
                    <tr>
                        <th>bodyClaim:</th>
                        <td>12 th sad dsad dasdas dashdjasd asjdjasdjbad ashjdjsadhjas ashdh sd</td>
                    </tr>
                    <tr>
                        <th>claimStatus</th>
                        <td>$10.34</td>
                    </tr>
                    <tr>
                        <th>totalvalue:</th>
                        <td>$5.80</td>
                    </tr>
                    <tr>
                        <th>refund Qauntity:</th>
                        <td>$5.80</td>
                    </tr>
                    <tr>
                        <th>Reson :</th>
                        <td>$5.80</td>
                    </tr>
                    <tr>
                        <th>Total Value:</th>
                        <td>$5.80</td>
                    </tr>
                </table>
            </div>

        </div><!-- /.col -->
    </div><!-- /.row -->
    <!-- this row will not appear when printing -->
    <div class="row no-print">
      
    </div>
</section><!-- /.content -->


@section script{

    <script src="/js/pages/claimDetailPaid.js"></script>
}
