﻿@{
    ViewData["Title"] = "Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section styles{
    <link href="/css/pages/ClaimDetail.css" rel="stylesheet" />
    <link href="/css/components/loader.css" rel="stylesheet" />
    <link href="/css/components/ColorStatusClaimUnpaid.css" rel="stylesheet" />
}
<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        Claim
        <small>Unpaid Claim</small>
        <a href="/Claim/UnPaid" style="margin-left: 5px ;font-size:14px"> Back To UnPaid Claim |</a>
        <a href="/Claim/Approvel" style="font-size: 14px">| Back To  Paid Claim </a>
    </h1>
    <ol class="breadcrumb">
        <li><a href="/"><i class="fa fa-dashboard"></i>Home</a></li>
        <li class="active">UnPaid Claim Detail</li>
    </ol>

</section>

<!-- Main content -->
<!-- Main content -->
<div class="load-table">
    <!-- loading -->
    <i class="fa fa-spinner fa-pulse fa-3x fa-fw" style="color: #00b2ce;"></i>
    <span class="sr-only">Loading...</span>
</div>
<section class="invoice">
    <!-- title row -->
    <div class="row">
        <div class="col-xs-12">
            <h2 class="page-header">
                <i class="fa fa-globe"></i>Unpaid Claim Detail

            </h2>
        </div><!-- /.col -->
    </div>
    <!-- info row -->
    <div class="row invoice-info">
        <div class="col-sm-4 invoice-col">
            <h3>Customer</h3>
            <address id="Claim-Customer">
                <div><span>customName : </span></div>
                <div><span>cusPhone : </span></div>
                <div><span>cusEmail : </span></div>
                <div><span>passport : </span></div>
            </address>
        </div><!-- /.col -->
        <div class="col-sm-4 invoice-col">
            <h3>Claim Vehicle</h3>
            <address id="claim-Vehicle">
                <div><span>licensePlates : </span></div>
                <div><span>vehicleModelName : </span></div>
                <div><span>vehicleVersionName : </span></div>
            </address>
        </div><!-- /.col -->
        <div class="col-sm-4 invoice-col">
            <h3>Insurance</h3>
            <address id="claim-insurance">
                <div><span>insuranceId : </span></div>
                <div><span>pricePercentByCarValue : </span></div>
                <div><span>minValueRefund : </span></div>
                <div><span>maxValueRefund : </span></div>
                <div><span>durationMonthUnit : </span></div>
            </address>
        </div><!-- /.col -->
    </div><!-- /.row -->

    <div class="row">

        <!-- accepted payments column -->
        <div class="col-md-4">
            <h3 style="font-weight:700">Insurance Sold</h3>
            <address id="claim-bill-of-sale">
                <div><span>insuranceDurationMonthly : </span></div>
                <div><span>totalPrice : </span></div>
                <div><span>expiresOn : </span></div>
                <div><span>Datetime : </span></div>
            </address>
        </div><!-- /.col -->
        <div class="col-md-8">
            <p class="lead" style="font-weight:700">Claim Detail</p>
            <div class="table-responsive">
                <table class="table" id="claim-Detail">
                    <tr>
                        <th>bodyClaim:</th>
                        <td>12 th sad dsad dasdas dashdjasd asjdjasdjbad ashjdjsadhjas ashdh sd</td>
                    </tr>
                    <tr>
                        <th>claimStatus</th>
                        <td>$10.34</td>
                    </tr>
                    <tr>
                        <th>totalvalue:</th>
                        <td>$5.80</td>
                    </tr>
                    <tr>
                        <th>refund Qauntity:</th>
                        <td>$5.80</td>
                    </tr>

                </table>
            </div>

        </div><!-- /.col -->
    </div><!-- /.row -->
    <!-- this row will not appear when printing -->
    <div class="row no-print " id="from-submit-claim">
        <div class="col-md-3 top-padding-header" style="text-align: center"><label>Accept Claim</label></div>

        <div class="form-group col-md-9 pull-right">
            <label>ReaSon</label>
            <textarea maxlength="500" id="reson-body-claim" class="form-control" rows="3" placeholder="Resson ..."></textarea>
            <label>Total Value</label>
            <div class="input-group">
                <input id="max-total-value" type="number" value="" style="display: none" />
                <input id="claimID-request" style="display:none" value="" type="number" />
                <input type="number" class="form-control" id="total-value-Bill" style="max-width:300px" onkeyup="NumberFormatOnKeyup()" />
                <span class="input-group-btn"><button onclick="createBillCompensation()" class="btn btn-info btn-flat" type="button">Confirm Claim</button></span>

            </div><!-- /.input group -->
            <em id="total-value-text-usd"></em>
        </div>
    </div>
</section><!-- /.content -->
@* Modal Thông Báo xac nhan*@
<div class="modal fade bs-example-modal-lg" id="notification-modal-container" tabindex="-1" role="dialog" aria-labelledby="notification-modal-container" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="hideNotificationModal()"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="noti-modal-header"></h4>
            </div>
            <div class="modal-body" id="noti-modal-body">
                <label>ToTal Value : <span>10.000 $</span></label>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" onclick="hideNotificationModal()">Close</button>
                <button type="button" class="btn btn-success" onclick="comfirmCreateBillCompensation()">Create</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="exampleModalAnnounceent" tabindex="-1" role="dialog" aria-labelledby="exampleModalAnnounceent" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel" style="font-weight:700">Announceent</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="body-Announceent">

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

@section script{
    <script src="~/js/Common.js"></script>
    <script src="/js/pages/searchClaimDetail.js" type="text/javascript"></script>
}
