﻿<div id="notification-modal-container" style="display: none;">
    <!-- Large modal -->
    <button type="button" class="btn btn-primary" id="noti-modal-button" data-toggle="modal" data-target=".bs-example-modal-lg">Large modal</button>

    <div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" style="z-index: 1000000000">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="hideNotificationModal()"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="noti-modal-header"></h4>
                </div>
                <div class="modal-body" id="noti-modal-body">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal" onclick="hideNotificationModal()">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>