﻿
@{
    ViewData["Title"] = "Model & Version";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section styles{
    <link href="~/css/components/loader.css" rel="stylesheet" />
    <link href="~/css/pages/VehicleModelVersion.css" rel="stylesheet" />
}

<section class="content-header">
    <h1>
        Vehicle Model
        <small>List Of Vehicle Model</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="/"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Vehicle Model</li>
    </ol>
</section>

<div class="loader">
    <i class="fa fa-spinner fa-pulse fa-3x fa-fw icon"></i>
    <span class="sr-only">Loading...</span>
</div>

<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">Models & Version</h3>
                </div><!-- /.box-header -->
                <div class="box-body">
                    <button type="button" class="btn btn-info" data-toggle="modal" data-target="#add-model">
                        <i class="fa fa-plus" title="Add Model"></i>Add New Model
                    </button>
                    <br /><br />
                    <table id="vehicle-model-table" class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th style="text-align:center">Model Id</th>
                                <th style="text-align:center">Name</th>
                                <th style="text-align:center">Details</th>
                                <th style="text-align:center">Option</th>
                            </tr>
                        </thead>
                        <tbody id="list-data-table-model">
                            <!-- Fill Model data into here -->
                        </tbody>
                    </table>

                    <div class="load-table">
                        <!-- loading animation for table -->
                        <i class="fa fa-spinner fa-pulse fa-3x fa-fw" style="color: #00b2ce;"></i>
                        <span class="sr-only">Loading...</span>
                    </div>
                </div><!-- /.box-body -->
                <!-- Pagination -->
                <div>
                    <div class="wrap-pagination">
                        <ul class="pagination" style="">
                        </ul>
                    </div>
                </div>
            </div><!-- /.box -->
        </div><!-- /.col -->
    </div><!-- /.row -->
</section>

<!-- Modal Add Model -->
<div class="modal fade" id="add-model" role="dialog">
    <div class="modal-dialog modal-lg" id="add-model-modal">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" style="font-weight: bolder; text-align: center; font-size: 180%; color: #344659;">Add Model</h4>
            </div>
            <div class="modal-body">
                <br />
                <form class="form-inline" style="text-align: center">
                    <div class="form-group">
                        <label for="addModelName">*Model Name:</label>
                        <input type="text" class="form-control" style="width: 300px; margin-right: 20px" name="addModelName"
                               id="add-model-name" placeholder="Enter your Model Name here">
                    </div>
                    <button type="button" class="btn btn-success" onclick="addNewModel()"><i class="fa fa-plus" title="Add Model"></i>Add Model</button>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" id="close-add-model-btn" class="btn btn-outline-danger btn-lg" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal Edit Model -->
<div class="modal fade" id="edit-model" role="dialog">
    <div class="modal-dialog modal-lg" id="edit-model-modal">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" style="font-weight: bolder; text-align: center; font-size: 180%; color: #344659;">Edit Model</h4>
            </div>
            <div class="modal-body">
                <br />
                <form class="form-inline" style="text-align: center">
                    <div class="form-group">
                        <label for="addModelName">*Model Name:</label>
                        <input type="text" class="form-control" style="width: 300px; margin-right: 20px" name="editModelName"
                               id="edit-model-name">
                    </div>
                    <button type="button" class="btn btn-warning" onclick="editModel()" data-dismiss="modal">
                        <i class="fa fa-edit" title="Edit Model"></i>Edit</button>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" id="close-edit-model-btn" class="btn btn-outline-danger btn-lg" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal Delete Model -->
<div class="modal fade" id="delete-model" role="dialog">
    <div class="modal-dialog modal-md" id="delete-model-modal">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" style="font-weight: bolder; text-align: center; font-size: 180%; color: #344659;">Delete Model</h4>
            </div>
            <div class="modal-body">
                <br />
                <p>Are you sure to delete this Model <span id="delete-model-name"></span>?</p>
            </div>
            <div class="modal-footer">
                <button type="button" id="confirm-delete-model-btn" class="btn btn-danger btn-lg"
                        data-dismiss="modal" onclick="deleteModel()">
                    <i class="fa fa-trash" title="Delete Model"></i>Delete
                </button>
                <button type="button" id="close-delete-model-btn" class="btn btn-outline-danger btn-lg" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal Details Model -->
<div class="modal fade" id="detail-model" role="dialog">
    <div class="modal-dialog modal-lg" id="detail-model-modal">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" id="model-title-details"
                    style="font-weight: bolder; text-align: center; font-size: 180%; color: #344659;"></h4>
            </div>
            <div class="modal-body">
                <button type="button" style="display: block; margin: auto"
                        onclick="showAddNewVersionForm()" class="btn btn-info">
                    <i class="fa fa-plus" title="Add Version"></i>Add New Version
                </button>
                <!-- Form Thêm Mới Version -->
                <div id="add-new-version-area" style="display: none">
                    <br />
                    <form class="form-inline" style="text-align: center">
                        <div class="form-group">
                            <label for="addVersionName">*Version Name:</label>
                            <input type="text" class="form-control" style="width: 300px; margin-right: 20px" name="addVersionName"
                                   id="add-version-name" placeholder="Enter your Version Name here">
                        </div>
                        <button type="button" class="btn btn-success" onclick="addNewVersion()">
                            <i class="fa fa-plus" title="Add Version"></i>Add</button>
                    </form>
                </div>
                <!-- Form Chỉnh sửa Version -->
                <div id="edit-version-area" style="display: none">
                    <br />
                    <form class="form-inline" style="text-align: center">
                        <div class="form-group">
                            <label for="editVersionName">*Version Name:</label>
                            <input type="text" class="form-control" style="width: 300px; margin-right: 20px" name="editVersionName"
                                   id="edit-version-name" placeholder="Enter your Version Name here">
                        </div>
                        <button type="button" class="btn btn-warning" onclick="editVersion()">
                            <i class="fa fa-edit" title="Edit Version"></i>Edit</button>
                    </form>
                </div>
                <hr />
                <!-- Bảng thể hiện các Version hiện có trong Model hiện tại -->
                <p id="version-noti-p1"><b>*Vehicle Version belong this Model:</b></p>
                <br />
                <p style="display: none" id="version-noti-p2"><b>*This Model don't have any Vehicle Version yet!</b><br /></p>
                <table id="version-table" class="table table-hover table-condensed">
                    <thead>
                        <tr>
                            <td style="text-align: center; vertical-align: middle"><b>Version Id</b></td>
                            <td style="text-align: center; vertical-align: middle"><b>Version Name</b></td>
                            <td style="text-align: center; vertical-align: middle"><b>Option</b></td>
                        </tr>
                    </thead>
                    <tbody id="version-table-content">
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" id="close-detail-model-btn" class="btn btn-outline-danger btn-lg" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<!-- Version Delete Modal -->
<div class="modal fade" id="delete-version" role="dialog">
    <div class="modal-dialog modal-md" id="delete-version-modal">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" style="font-weight: bolder; text-align: center; font-size: 180%; color: #344659;">Delete Version</h4>
            </div>
            <div class="modal-body">
                <br />
                <p>Are you sure to delete this Model <span id="delete-version-name"></span>?</p>
            </div>
            <div class="modal-footer">
                <button type="button" id="confirm-delete-version-btn" class="btn btn-danger btn-lg"
                        data-dismiss="modal" onclick="deleteVersion()">
                    <i class="fa fa-trash" title="Delete Modal"></i>Delete
                </button>
                <button type="button" id="close-delete-version-btn" class="btn btn-outline-danger btn-lg" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<!-- Notification Modal -->
<div id="notification-modal-container" style="display: none;">
    <!-- Large modal -->
    <button type="button" class="btn btn-primary" id="noti-modal-button" data-toggle="modal" data-target=".bs-example-modal-md">Large modal</button>

    <div class="modal fade bs-example-modal-md" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" style="z-index: 1000000000">
        <div class="modal-dialog modal-md">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="hideNotificationModal()"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="noti-modal-header"></h4>
                </div>
                <div class="modal-body" id="noti-modal-body">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal" onclick="hideNotificationModal()">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>

@section script{
    <script src="~/js/pages/vehicleModelVersion.js"></script>
    <script src="~/js/components/ShowNotificationModal.js"></script>
}

