﻿@{
    var domainName = Url.ActionContext.HttpContext.Request.Host.ToString();
    var path = Url.ActionContext.HttpContext.Request.Path.ToString();
    var urlControllerName = path.Substring(1);
}
<!-- sidebar: style can be found in sidebar.less -->
<section class="sidebar">

    <!-- Sidebar user panel (optional) -->
    <div class="user-panel">
        <div class="pull-left image">
            <img src="~/images/avatar-default.png" class="img-circle" alt="User Image" />
        </div>
        <div class="pull-left info">
            <p class="admin-name"></p>
            <!-- Status -->
            <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
        </div>
    </div>

    <!-- search form (Optional) -->
    <form action="#" method="get" class="sidebar-form">
        <div class="input-group">
            <input type="text" name="q" class="form-control" placeholder="Search..." />
            <span class="input-group-btn">
                <button type="submit" name="search" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i></button>
            </span>
        </div>
    </form>
    <!-- /.search form -->
    <!-- Sidebar Menu -->
    <ul class="sidebar-menu">
        <li class="header">HEADER</li>

        <!-- Optionally, you can add icons to the links -->
        <li><a href="/Report"><i class="fa fa-tachometer"></i> <span>Report</span></a></li>
        <li><a href="/Insurance/Index"><i class="fa fa-tachometer"></i> <span>Insurance</span></a></li>
        <li><a href="/Customer/Index"><i class="fa fa-users"></i> <span>Customer</span></a></li>
        <li class="treeview">
            <a href="#"><i class="fa fa-comment"></i> <span>Claim</span> <i class="fa fa-angle-left pull-right"></i></a>
            <ul class="treeview-menu">
                <li><a href="/Claim/Approvel">Claim Paid</a></li>
                <li><a href="/Claim/Unpaid">Claim Unpaid</a></li>

            </ul>
        </li>
        <li><a href="/customer-insurance"><i class="fa fa-compress"></i> <span>Customer's insurance</span></a></li>
        <li><a href="/insurance-bill"><i class="fa fa-money"></i> <span>Insurance Bill</span></a></li>
        <li><a href="/VehicleModel/Models"><i class="fa fa-car"></i> <span>Model & Version</span></a></li>
    </ul><!-- /.sidebar-menu -->
</section>
<!-- /.sidebar -->
