Hi Customer<br/>
Thanks for using our service. Please confirm email address by clicking on the link belows.<br/>

${VERIFICATION_URL}<br/>

if you did not sign up for a T1811E account please disregard this email.<br/>

The T1811E