﻿
@{
    //ViewData["Title"] = "Index";
}

@section styles{
    <link href="~/css/pages/report.css" rel="stylesheet" />
}
@*Phần header*@
<section class="content-header">
    <h1>
        Report
        <small>Control panel</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="/"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Dashboard</li>
    </ol>
</section>
@*end Phần header*@
<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="col-lg-4 col-xs-6 report-item">
                    <!-- small box -->
                    <div class="small-box bg-purple">
                        <div class="inner">
                            <h3 id="totalBillUnPaid">0</h3>
                            <p>Orders have not been paid yet</p>
                        </div>
                        <div class="icon">
                            <i class="ion ion-bag"></i>
                        </div>
                        <a href="/insurance-bill" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
                    </div>
                </div><!-- ./col -->
                <div class="col-lg-4 col-xs-6 report-item">
                    <!-- small box -->
                    <div class="small-box bg-green">
                        <div class="inner">
                            <h3 id="totalMoneySale">0<sup style="font-size: 20px">$</sup></h3>
                            <p>Sales</p>
                        </div>
                        <div class="icon">
                            <i class="ion ion-stats-bars"></i>
                        </div>
                        <a href="/customer-insurance" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
                    </div>
                </div><!-- ./col -->
                <div class="col-lg-4 col-xs-6 report-item">
                    <!-- small box -->
                    <div class="small-box bg-yellow">
                        <div class="inner">
                            <h3 id="totalInsuranceExpiringSoon">0</h3>
                            <p>Insurance is about to expire</p>
                        </div>
                        <div class="icon">
                            <i class="ion ion-heart"></i>
                        </div>
                        <a href="/customer-insurance" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
                    </div>
                </div><!-- ./col -->
                <div class="col-lg-4 col-xs-6 report-item">
                    <!-- small box -->
                    <div class="small-box bg-red">
                        <div class="inner">
                            <h3 id="totalClaimNotYetHandle">0</h3>
                            <p>Claim pending</p>
                        </div>
                        <div class="icon">
                            <i class="ion ion-pie-graph"></i>
                        </div>
                        <a href="/Claim/Unpaid" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
                    </div>
                </div>
                <div class="col-lg-4 col-xs-6 report-item">
                    <!-- small box -->
                    <div class="small-box bg-aqua">
                        <div class="inner">
                            <h3 id="totalMoneyClaim">0<sup style="font-size: 20px">$</sup></h3>
                            <p>Amount paid for the claim</p>
                        </div>
                        <div class="icon">
                            <i class="ion ion-wrench"></i>
                        </div>
                        <a href="/Claim/Approvel" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
                    </div>
                </div><!-- ./col -->
                <div class="col-lg-4 col-xs-6 report-item">
                    <!-- small box -->
                    <div class="small-box bg-light-blue">
                        <div class="inner">
                            <h3 id="totalCustomer">0</h3>
                            <p>Customers</p>
                        </div>
                        <div class="icon">
                            <i class="ion ion-person-add"></i>
                        </div>
                        <a href="/Customer/Index" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
                    </div>
                </div><!-- ./col -->

            </div><!-- /.box-body -->
        </div><!-- /.box -->
    </div><!-- /.col -->
</section>

@section script{
    <script>
        $.ajax({
            url: "https://localhost:44314/api/Report",
            type: 'GET',
            dataType: 'json',
            success: function (response) {
                console.log(response)
                $("#totalMoneySale").text(response.data.totalMoneySale);
                $("#totalMoneySale").append('<sup style="font-size: 20px">$</sup>');
                $("#totalMoneyClaim").text(response.data.totalMoneyClaim);
                $("#totalMoneyClaim").append('<sup style="font-size: 20px">$</sup>');
                $("#totalCustomer").text(response.data.totalCustomer);
                $("#totalInsuranceExpiringSoon").text(response.data.totalInsuranceExpiringSoon);
                $("#totalClaimNotYetHandle").text(response.data.totalClaimNotYetHandle);
                $("#totalBillUnPaid").text(response.data.totalBillUnPaid);
            },
            error: function (error) {
                console.log(error);
            }
        })
    </script>
}