.table>tbody>tr>td,
.table>tfoot>tr>td {
  vertical-align: middle;
}

@media screen and (max-width: 600px) {
  table#cart tbody td .form-control {
    width: 20%;
    display: inline !important;
  }
  .actions .btn {
    width: 36%;
    margin: 1.5em 0;
  }
  .actions .btn-info {
    float: left;
  }
  .actions .btn-danger {
    float: right;
  }
  table#cart thead {
    display: none;
  }
  table#cart tbody td {
    display: block;
    padding: .6rem;
    min-width: 320px;
  }
    table#cart tbody tr td:first-child {
        background: #f1f1f1;
        color: #fff;
    }
    table#cart tbody td:before {
        content: attr(data-th);
        font-weight: bold;
        display: inline-block;
        width: 8rem;
        color: black;
    }
  table#cart tfoot td {
    display: block;
  }
  table#cart tfoot td .btn {
    display: block;
  }
  .ko{
    display: none;
  }
}

.btn-block{
  background-color: #2396a8;
  color: #FFFFFF;
}
.btn-block:hover{
  background-color: #00b2ce;
  color: #FFFFFF;
}

.actions {
    text-align: center;
    position: relative;
}


.btn-payment {
    box-shadow: 0px 10px 14px -7px #276873;
    background: linear-gradient(to bottom, #599bb3 5%, #408c99 100%);
    background-color: #599bb3;
    border-radius: 8px;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 14px;
    font-weight: bold;
    padding: 10px 20px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #3d768a;
}

    .btn-payment:hover {
        background: linear-gradient(to bottom, #408c99 5%, #599bb3 100%);
        background-color: #408c99;
        color: #ffffff;
    }

    .btn-payment:active {
        position: relative;
        top: 1px;
        color: #ffffff;
    }

    .btn-payment:focus{
        color: #FFFFFF;
    }

.table > thead > tr > th {
    vertical-align: bottom;
    border-bottom: 2px solid #344659;
    color: #98ACC0;
    font-size: 18px;
}

.key-table {
    color: #1D5BA8;
}

.value-table {
    color: #344659;
    font-weight: 700;
}

.table > tbody > tr > td {
    border-bottom: 1px solid #344659;
}

.wrap-acitons{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
}

.btn-dot-menu {
    background-color: #FFFFFF;
    border-radius: 5px;
    margin-left: 30px;
}

.btn-dot-menu:hover{
    background-color: #EFEFEF;
}

    .btn-dot-menu:focus {
        outline: none !important;
    }

.action-menu {
    display: none;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 90%;
    z-index: 1;
    background-color: #FFFFFF;
    flex-direction: column;
    align-items: start;
    -webkit-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.12);
    box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.12);
    border-radius: 5px;
    right: 0;
    height: 80px;
}

    .action-menu li {
        height: 40px;
        display: block;
        width: 100%;
        text-align: left;
        padding: 10px 25px;
        cursor: pointer;
        color: #344659;
        font-weight: 600;
    }

        .action-menu li:hover {
            color: #0e151c;
        }


.action-menu-icon {
    font-size: 20px;
    margin-right: 20%;
}

.btn-add-cart {
    height: 50px;
    cursor: pointer;
}