﻿.loader {
    width: 100%;
    height: 100%;
    background: #7a9daad4;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    display: none;
    overflow: hidden;
    
}
.modelDataTable {
    display: none;
    overflow: hidden;
    z-index: -1;
}
.icon {
    font-size: 80px;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -40px;
    margin-left: -40px;
}


