﻿.item-pagination {
    text-align: right;
}
.row-top-table{
    text-align:right;
}
.showing {
    color: #337ab7;
    height: 40px;
    margin: 0;
    padding: 10px 18px;
}
.row-top-table{
    margin: 5px ;
}
.pagination {
    height: 40px;
    margin: 5px 0;
}
.tab-top-row, .tab-bottom-row {
    display: inline-block;
    width: 49%;
}

.tab-bottom-row {
    text-align: right;
}

@media screen and (max-width: 769px) {
    .showing, .item-pagination {
        text-align: right;
    }
}



@media screen and (max-width: 330px) {
    .tab-top-row, .tab-bottom-row {
        display: block;
    }
}

.pagination a{
    cursor: pointer;
}