﻿
@{
    ViewData["Title"] = "Index";
}
@*Khai báo các thẻ style vào trong đây, không cần khai báo bootrap, jquery, chỉ khai báo style của page hoặc các componet*@
@section styles{
    <link rel="stylesheet" type="text/css" href="~/css/pages/insurance.css">
    <link rel="stylesheet" type="text/css" href="~/css/pages/createbillmodal.css">
    <link href="~/css/pages/account.css" rel="stylesheet" />
    <link href="~/css/components/paginationDataTable.css" rel="stylesheet" />

    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Table_Responsive_v1/vendor/animate/animate.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Table_Responsive_v1/vendor/select2/select2.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Table_Responsive_v1/vendor/perfect-scrollbar/perfect-scrollbar.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Table_Responsive_v1/css/util.css">
    <link rel="stylesheet" type="text/css" href="~/Table_Responsive_v1/css/main.css">
}

<label style="font-size: 20px ; color:#344659">Vehicle insurance list</label>
<div>
    Car Insurance is an auto insurance plan that offers you the best service, together with many attractive benefits and competitive premium rates.
</div>
<table id="cart" class="table-buy-insurance">
    <thead>
        <tr class="table100-head">
            <th class="column1">Insurance</th>
            <th class="column2">Maximum refund</th>
            <th class="column3">Duration</th>
            <th class="column4">Price (% value of the car)</th>
            <th class="column5"></th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>

<div class="load-table">
    <!-- loading -->
    <i class="fa fa-spinner fa-pulse fa-3x fa-fw" style="color: #00b2ce;"></i>
    <span class="sr-only">Loading...</span>
</div>
<div>
    <div class="wrap-pagination">
        <ul class="pagination" style="">
        </ul>
    </div>
</div>

<!--Modal information-->
<div class="modal fade" id="common-modal" role="dialog">
    <div class="modal-dialog modal-xl" id="common-modal-wrap-content">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" style="font-weight: bolder; text-align: left; font-size: 180%; color: #344659;"></h4>
            </div>
            <div class="modal-body">
                <br />


            </div>
            <div class="modal-footer">
                <button type="button" id="close-common-modal" class="btn btn-outline-danger btn-lg" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<!-- Modal -->
<div class="modal fade" id="buy-insurance" role="dialog">
    <div class="modal-dialog modal-lg" id="buy-insurance-modal">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" onclick="hideChosenCustomerVehicle()">&times;</button>
                <h4 class="modal-title" style="font-weight: bolder; text-align: center; font-size: 180%; color: #344659;">Buy Insurance</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" action="">
                    <h4 class="form-title">Insurance Details</h4>
                    <br />
                    <div class="form-group">
                        <label class="control-label col-sm-6">*Price Percent By Car Value:</label>
                        <div class="col-sm-6">
                            <label class="control-label col-sm-2" id="price-percent-by-car-value" style="float: left"></label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-6">*Min Value Refund:</label>
                        <div class="col-sm-6">
                            <label class="control-label col-sm-2" id="min-value-refund" style="float: left"></label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-6">*Max Value Refund:</label>
                        <div class="col-sm-6">
                            <label class="control-label col-sm-2" id="max-value-refund" style="float: left"></label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-6">*Max Refund Quantity:</label>
                        <div class="col-sm-6">
                            <label class="control-label col-sm-2" id="max-refund-quantity" style="float: left"></label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-6">*Duration Month Unit:</label>
                        <div class="col-sm-6">
                            <label class="control-label col-sm-2" id="duration-month-unit" style="float: left"></label>
                        </div>
                    </div>


                    <div class="form-group">
                        <div class="col-sm-6">
                            <button type="button" class="btn btn-default dropdown-toggle"
                                    style="float: right;" id="btn-open-add-new-vehicle-form"
                                    onclick="openAddNewVehicleForm()">
                                Open Add New Vehicle Form
                            </button>
                            <button type="button" class="btn btn-default dropdown-toggle"
                                    style="float: right; display: none;" id="btn-close-add-new-vehicle-form"
                                    onclick="closeAddNewVehicleForm()">
                                Close Add New Vehicle Form
                            </button>
                        </div>
                        <div class="col-sm-6">
                            <div class="dropdown">
                                <button class="btn btn-default" type="button" id="dropdownCustomerVehicles" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                    Choose Your Vehicles
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu" aria-labelledby="dropdownCustomerVehicles" id="customer-vehicle-list">
                                    <!-- Truyền Danh sách Xe của Khách hàng vào đây -->
                                </ul>
                            </div>
                        </div>
                    </div>
                </form>


                <form autocomplete="off" class="form-horizontal" id="add-new-vehicle-form" style="margin-top: 75px;">
                    <h4 class="form-title">Add New Car</h4>
                    <br />
                    <div class="form-group">
                        <label class="control-label col-sm-6" for="LicensePlate">*License Plate:</label>
                        <div class="col-sm-4">
                            <input required type="text" name="LicensePlate" class="form-control" id="new-vehicle-license-plate" placeholder="Enter your vehicle License Plate">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-6" for="PurchaseDate">*Purchase Date:</label>
                        <div class="col-sm-4">
                            <input required type="date" name="PurchaseDate" class="form-control" id="new-vehicle-purchase-date" placeholder="Enter your vehicle Purchase Date">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-6" for="BodyNumber">*Body Number:</label>
                        <div class="col-sm-4">
                            <input required type="text" name="BodyNumber" class="form-control" id="new-vehicle-body-number" placeholder="Enter your vehicle Body Number">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-6" for="LicensePlate">*Engine Number:</label>
                        <div class="col-sm-4">
                            <input required type="text" name="EngineNumber" class="form-control" id="new-vehicle-engine-number" placeholder="Enter your vehicle Engine Number">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-6" for="Model">*Model: </label>
                        <div class="col-sm-4">
                            <input autocomplete="off" required name="Model" class="form-control" id="new-vehicle-model"
                                   placeholder="Enter your vehicle model that you want"
                                   onkeyup="getVehicleModel()" onfocus="getVehicleModel()" />
                            <div id="search-result-area" class="dropdown" onblur="hideSearchResult()">
                                <ul class="dropdown-menu" aria-labelledby="dropdownCustomerVehicles" id="search-result-list">
                                    <!-- Đẩy kết quả tìm kiếm vào đây-->
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-6" for="Version">*Version: </label>
                        <div class="col-sm-4">
                            <select required name="Version" class="form-control" id="new-vehicle-version">
                                <!-- Đẩy dữ liệu về Version phương tiện theo Model vào đây -->
                            </select>
                        </div>
                    </div>
                    <br />
                    <div class="form-group">
                        <p id="none-version-warning" style="display: none;">This Model dont have any Version yet!</p>
                        <button type="button" class="btn btn-default" id="btn-add-new-vehicle"
                                onclick="addCustomerVehicle()">
                            Add New
                        </button>
                    </div>
                </form>
                <div id="create-bill-area">
                    <div id="customer-chosen-vehicle" style="display: none;">
                        <p id="insurance-vehicle-noti">You choose insurance for this vehicle:</p>
                        <br />
                        <p id="insurance-vehicle-info">
                            *Model: <span id="model"></span><br />
                            *License Plate: <span id="license-plate"></span><br />
                            *Version: <span id="version"></span><br />
                            *Engine Number: <span id="engine-number"></span><br />
                            *Body Number: <span id="body-number"></span>
                        </p>
                        <br /><br />
                        <form class="form-horizontal">
                            <div class="form-group">
                                <label class="control-label col-sm-6" for="InsuranceQuantity">*Insurance Quantity: </label>
                                <div class="col-sm-2">
                                    <input class="form-control" required type="number" min="1" name="InsuranceQuantity" id="insurance-quantity"
                                           placeholder="Enter your Insurance Quantity" onchange="getPriceInsurance()"
                                           value="1" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-sm-6" for="YearsOfUsed">*Years Of Used: </label>
                                <div class="col-sm-2">
                                    <input class="form-control" required type="number" min="1" name="YearsOfUsed" id="years-of-used"
                                           placeholder="Enter your Vehicle Years of Used" onchange="getPriceInsurance()"
                                           value="1" />
                                </div>
                            </div>
                        </form>
                    </div>
                    <p id="insurance-price-noti" style="display: none;">* Your Insurance Price is: <span id="insurance-price-value"></span></p>
                    <br />
                    <button id="btn-create-bill" style="display: none;" class="btn btn-default btn-lg"
                            onclick="createBillAction()">
                        Create Your Bill
                    </button>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-danger btn-lg" data-dismiss="modal" id="close-create-bill-modal" onclick="hideChosenCustomerVehicle()">Close</button>
            </div>
        </div>
    </div>
</div>

<!-- Show Notification Modal -->
<div id="notification-modal-container" style="display: none;">
    <!-- Large modal -->
    <button type="button" class="btn btn-primary" id="noti-modal-button" data-toggle="modal" data-target=".bs-example-modal-md">Large modal</button>

    <div class="modal fade bs-example-modal-md" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" style="z-index: 1000000000">
        <div class="modal-dialog modal-md">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="hideNotificationModal()"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="noti-modal-header"></h4>
                </div>
                <div class="modal-body" id="noti-modal-body">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-md btn-outline-danger" id="close-noti-modal-btn" data-dismiss="modal" onclick="hideNotificationModal()">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>



@*Khai báo các thẻ Script vào trong đây, không cần khai báo bootrap, jquery, chỉ khai báo script link qua js script của page hoặc các componet*@

@section script{
    <script src="~/js/Common.js"></script>
    <script src="~/js/pages/insurance.js"></script>
    <script src="~/js/pages/createbillmodal.js"></script>
    <script src="~/js/components/ShowNotificationModal.js"></script>
}


