﻿
@{
    ViewData["Title"] = "BillActive";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section styles{
    <link href="~/css/components/input.css" rel="stylesheet" />
    <link href="~/css/components/loader.css" rel="stylesheet" />
    <link href="~/AdminLTE-2.2.0/plugins/daterangepicker/daterangepicker-bs3.css" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css" />
}
<section class="content-header">
    <h1>
        Page Header
        <small>List Of Bills Paid</small>
    </h1>

</section>
<div class="loader">
    <i class="fa fa-spinner fa-pulse fa-3x fa-fw icon"></i>
    <span class="sr-only">Loading...</span>
</div>
<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title col-lg-6">Hover Data Table</h3>
                    <div class="box-tools">
                        <div class="form-group  pull-right" style="max-width:300px">
                            <div class="input-group">
                                <div class="input-group-addon">
                                    <i class="fa fa-calendar"></i>
                                </div>
                                <input type="text" class="form-control searchExpires" data-inputmask="'alias': 'mm/dd/yyyy'" data-mask id="datepicker" />
                                <span class="input-group-btn"><button onclick="getBillActiveExpires()" class="btn btn-info btn-flat" type="button"><i class="fa fa-fw fa-search" title="Search"></i></button></span>
                            </div><!-- /.input group -->
                        </div><!-- /.form group -->
                    </div>
                </div><!-- /.box-header -->
                <div class="box-body">
                    <table id="example2" class="table table-bordered table-hover">
                        <thead>
                            <tr>


                                <th>insuranceSoldId</th>
                                <th>insuranceId</th>
                                <th>totalPrice</th>
                                <th>licensePlates</th>
                                <th>phoneNumber</th>
                                <th>emailCustomer</th>
                                <th>versionName</th>
                                <th>expiresOn</th>
                                <th>Tim Remaining</th>
                                <th>createdAt</th>
                                <th style="text-align:center">Option</th>
                            </tr>
                        </thead>
                        <tbody id="list-data-table-billActive">
                        </tbody>

                        <tfoot>
                            <tr>
                                <th>insuranceSoldId</th>
                                <th>insuranceId</th>
                                <th>totalPrice</th>
                                <th>licensePlates</th>
                                <th>phoneNumber</th>
                                <th>emailCustomer</th>
                                <th>versionName</th>
                                <th>expiresOn</th>
                                <th>Tim Remaining</th>
                                <th>createdAt</th>
                                <th style="text-align:center">Option</th>
                            </tr>
                        </tfoot>
                    </table>
                    <div class="load-table">
                        <!-- loading -->
                        <i class="fa fa-spinner fa-pulse fa-3x fa-fw" style="color: #00b2ce;"></i>
                        <span class="sr-only">Loading...</span>
                    </div>
                    <div>
                        <div class="wrap-pagination">
                            <ul class="pagination" style="">
                            </ul>
                        </div>
                    </div>
                </div><!-- /.box-body -->
            </div><!-- /.box -->
        </div><!-- /.col -->
    </div><!-- /.row -->

</section>
@*modal xem chi tiet*@
<div class="modal fade" id="exampleModalDetails" tabindex="-1" role="dialog" aria-labelledby="exampleModalDetails" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel" style="font-weight:700">Bill Detail</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="body-bill-detail">

            </div>
            <div class="load-table-detail">
                <!-- loading -->
                <i class="fa fa-spinner fa-pulse fa-3x fa-fw icon-detail-modal" style="color: #00b2ce;"></i>
                <span class="sr-only">Loading...</span>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<!-- Modal Thông Báo -->
 <div class="modal fade bs-example-modal-lg" id="notification-modal-container" tabindex="-1" role="dialog" aria-labelledby="notification-modal-container" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="hideNotificationModal()"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="noti-modal-header"></h4>
                </div>
                <div class="modal-body" id="noti-modal-body">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal" onclick="hideNotificationModal()">Close</button>
                </div>
            </div>
        </div>
 </div>

@section script{
    <script src="~/js/pages/billActive.js"></script>
    <script src="~/js/components/inputDatetime.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js" type="text/javascript"></script>
    <script src="~/AdminLTE-2.2.0/plugins/daterangepicker/daterangepicker.js"></script>

}