﻿
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section styles{
    <link href="~/css/components/loader.css" rel="stylesheet" />
    <link href="~/css/components/ColorStatusClaimUnpaid.css" rel="stylesheet" />
    <link href="~/css/components/Table.css" rel="stylesheet" />
    <link href="~/css/pages/insuranceSold.css" rel="stylesheet" />
}
<section class="content-header">
    <h1>
        Insurance management
        <small>Control panel</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="/"><i class="fa fa-dashboard"></i>Home</a></li>
        <li class="active">Insurance management</li>
    </ol>
</section>

<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-body" style="min-height: 500px;">
                    <select id="type-insurance" style="max-width: 100px">
                        <option style="background-color: #fff !important ;color:#444444" value="0">All</option>
                        <option style="background-color: #fff !important ;color:#444444" value="1">New</option>
                        <option style="background-color: #fff !important; color:#444444" value="2">Almost expired</option>
                        <option style="background-color: #fff !important; color:#444444" value="3">Expired</option>
                    </select>
                    <div class="input-group" style="float: right; width: 250px;">
                        <div class="input-group-addon">
                            <i class="fa fa-calendar"></i>
                        </div>
                        <input type="text" class="form-control pull-right" id="datePicker" autocomplete="off" placeholder="Filter by creation time..." />
                    </div>
                    <br /><br />

                    <table id="insurance-table" class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>Insurance Name</th>
                                <th>Activation Date</th>
                                <th>Customer's email</th>
                                <th>Price</th>
                                <th>Vehicle Id</th>
                                <th class="td-center">Days remaining</th>
                                <th>Action</th>
                            </tr>
                        </thead>

                        <tbody id="list-data-table-model">
                            <!-- Fill Model data into here -->
                        </tbody>
                    </table>
                    <div class="load-table">
                        <!-- loading animation for table -->
                        <i class="fa fa-spinner fa-pulse fa-3x fa-fw" style="color: #00b2ce;"></i>
                        <span class="sr-only">Loading...</span>
                    </div>
                </div>

                <!-- Pagination -->
                <div>
                    <div class="wrap-pagination">
                        <ul class="pagination" style="">
                        </ul>
                    </div>
                </div>

            </div><!-- /.box-body -->
        </div><!-- /.box -->
    </div><!-- /.col -->
</section>

<div class="modal fade" id="common-modal" role="dialog">
    <div class="modal-dialog modal-xl" id="common-modal-wrap-content">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" style="font-weight: bolder; text-align: left; font-size: 180%; color: #344659;"></h4>
            </div>
            <div class="modal-body">
                <br />


            </div>
            <div class="modal-footer">
                <button type="button" id="close-common-modal" class="btn btn-outline-danger btn-lg" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="modal" tabindex="-1" id="modal-notification" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Notification</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<div class="loader" id="loader-1"></div>
@section script{
    <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
    <script>
        $('#datePicker').daterangepicker({
            autoUpdateInput: false,
            locale: { cancelLabel: 'Clear' }
        });
    </script>
    <script src="~/js/Common.js"></script>
    <script src="~/js/pages/insuranceSold.js"></script>
}