﻿
@{
    ViewData["Title"] = "InsuranceBill";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section styles{
    <link href="~/css/components/loader.css" rel="stylesheet" />
    <link href="~/css/components/ColorStatusClaimUnpaid.css" rel="stylesheet" />
    <link href="~/css/components/Table.css" rel="stylesheet" />
    <link href="~/css/pages/insuranceSold.css" rel="stylesheet" />
}
<section class="content-header">
    <h1>
        Insurance Bill
        <small>Control panel</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="/"><i class="fa fa-dashboard"></i>Home</a></li>
        <li class="active">Insurance Bill</li>
    </ol>
</section>

<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-body" style="min-height:500px">
                    <label class="col-sm-6 box-title">Insurance Bill Unpaid</label>
                    <div class="box-tools col-sm-6">
                        <div class="form-group  pull-right">
                            <div class="input-group">
                                <input style="width:250px" type="text" class="form-control" id="searchBillFromCus" placeholder="Email - Phone" />
                            </div><!-- /.input group -->
                        </div><!-- /.form group -->
                        <div class="input-group" style="float: right; width: 250px;">
                            <div class="input-group-addon">
                                <i class="fa fa-calendar"></i>
                            </div>
                            <input type="text" class="form-control pull-right" id="datePicker" />
                        </div>
                    </div>

                    <br /><br />
                    <table id="insurance-table" class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>Insurance Name</th>
                                <th>Customer Email</th>
                                <th>Phone</th>
                                <th>Vehicle ID</th>
                                <th>Status</th>
                                <th>Total Value</th>
                                <th>Create Date</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody id="list-data-table-model">
                            <!-- Fill Model data into here -->
                        </tbody>
                    </table>
                </div>
                <div class="load-table">
                    <!-- loading animation for table -->
                    <i class="fa fa-spinner fa-pulse fa-3x fa-fw" style="color: #00b2ce;"></i>
                    <span class="sr-only">Loading...</span>
                </div>



            </div>
            <!-- Pagination -->
            <div>
                <div class="wrap-pagination pull-right">
                    <ul class="pagination" style="">
                    </ul>
                </div>
            </div><!-- /.box-body -->
        </div><!-- /.box -->
    </div><!-- /.col -->
</section>

<div class="modal fade" id="common-modal" role="dialog">
    <div class="modal-dialog modal-xl" id="common-modal-wrap-content">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" style="font-weight: bolder; text-align: left; font-size: 180%; color: #344659;">Add Customer</h4>
            </div>
            <div class="modal-body">
                <br />


            </div>
            <div class="modal-footer">
                <button type="button" id="close-common-modal" class="btn btn-outline-danger btn-lg" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="modal" tabindex="-1" id="modal-notification" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Notification</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<div class="loader" id="loader-1"></div>
@section script{
    <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
    <script>
        $('#datePicker').daterangepicker({
            locale: { cancelLabel: 'Clear' }
        });
    </script>
    <script src="~/js/Common.js"></script>
    <script src="~/js/pages/insuranceBill.js"></script>
}
