﻿
@{
    ViewData["Title"] = "Paid";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section styles{

    <link href="~/css/components/loader.css" rel="stylesheet" />
}

<section class="content-header">
    <h1>
        Page Header
        <small>List Of Bills Paid</small>
    </h1>
</section>
<div class="loader">
    <i class="fa fa-spinner fa-pulse fa-3x fa-fw icon"></i>
    <span class="sr-only">Loading...</span>
</div>
<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">Hover Data Table</h3>
                </div><!-- /.box-header -->
                <div class="box-body">
                    <table id="example2" class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>Bill Id</th>
                                <th>Total Price</th>
                                <th>Custumer Name</th>
                                <th>Model Name</th>
                                <th>Version Name</th>
                                <th>Phone Number</th>
                                <th>Creation Time</th>
                                <th>Payment Status</th>
                                <th style="text-align:center">Option</th>
                            </tr>
                        </thead>
                        <tbody id="list-data-table-paid">
                    
                        </tbody>
                        <tfoot>
                            <tr>
                                <th>Bill Id</th>
                                <th>Total Price</th>
                                <th>Custumer Name</th>
                                <th>Model Name</th>
                                <th>Version Name</th>
                                <th>Phone Number</th>
                                <th>Creation Time</th>
                                <th>Payment Status</th>
                                <th style="text-align:center">Option</th>
                            </tr>
                        </tfoot>
                    </table>
                    <div class="load-table">
                        <!-- loading -->
                        <i class="fa fa-spinner fa-pulse fa-3x fa-fw" style="color: #00b2ce;"></i>
                        <span class="sr-only">Loading...</span>
                    </div>
                    <div>
                        <div class="wrap-pagination">
                            <ul class="pagination" style="">
                            </ul>
                        </div>
                    </div>
                </div><!-- /.box-body -->
            </div><!-- /.box -->
        </div><!-- /.col -->
    </div><!-- /.row -->
</section>

<div class="modal fade" id="exampleModalDetails" tabindex="-1" role="dialog" aria-labelledby="exampleModalDetails" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel" style="font-weight:700">Bill Detail</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="body-bill-detail">
             
            </div>
            <div class="load-table-detail">
                <!-- loading -->
                <i class="fa fa-spinner fa-pulse fa-3x fa-fw icon-detail-modal" style="color: #00b2ce;" ></i>
                <span class="sr-only">Loading...</span>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
@section script{
    <script src="~/js/pages/billPaid.js"></script>
}