﻿.hello {
    width: 150px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-left: 10px;
    color: #FFFFFF;
}

#btn-logout {
    position: absolute;
    top: 5px;
    color: #FFFFFF;
    cursor: pointer;
}

.router-active{
    border: 1px solid !important;
}
