﻿
@{
    ViewData["Title"] = "Index";
}
@*Khai báo các thẻ style vào trong đây, không cần khai báo bootrap, jquery, chỉ khai báo style của page hoặc các componet*@
@section styles{
    <link rel="stylesheet" type="text/css" href="~/css/pages/contact.css">
    <link rel="stylesheet" href="~/template/css/ie7/ie7.css">
    <!--<![endif]-->
    <link href="~/template/css/css/style.css" rel="stylesheet" type="text/css">
    <style>
        input[type=password], input[type=text], select, textarea {
            border: none;
            width: 100%;
            display: block;
            margin-bottom: 20px;
            height: 40px;
            line-hegiht: 40px;
            padding: 0;
            border-bottom: 1px solid #e9e9e9;
            font-weight: 300;
            color: #989898;
            transition: all 0.3s ease;
            -webkit-transition: all 0.3s ease;
            -moz-transition: all 0.3s ease;
            -o-transition: all 0.3s ease;
        }
    </style>
}
<section class="contact-us">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="form-box">
                    <h2>Get in Touch</h2>
                    <div class="form-content">
                        <input type="text" name="name" placeholder="Your Name" />
                        <input type="text" name="email" placeholder="Email" />
                        <input type="text" name="subject" placeholder="Subject" />
                        <textarea rows="1" cols="1" name="message" placeholder="Message"></textarea>
                        <div class="text-center">
                            <input type="submit" class="btn-default" value="Submit" />
                        </div>
                    </div>
                </div>
                <div class="contact-info">
                    <div class="col-sm-6">
                        <div class="row">
                            <div class="contact-address">
                                <h3>Address</h3>
                                <div>
                                    <i class="icon ti-home"></i>
                                    <p>
                                        E104 Dharti -2 , Nr Silverstar Mall
                                        <br />Chandlodia - Ahmedabad
                                        <br />Zip - 382481
                                    </p>
                                    <p class="social">
                                        <a href="#"><i class="fa fa-facebook"></i></a>
                                        <a href="#"><i class="fa fa-twitter"></i></a>
                                        <a href="#"><i class="fa fa-google-plus"></i></a>
                                        <a href="#"><i class="fa fa-linkedin"></i></a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="row">
                            <div class="contact-dtl">
                                <h3>Contact Details</h3>
                                <div>
                                    <i class="icon fa fa-phone"></i>
                                    <p>+91 123 456 7890</p>
                                </div>
                                <div>
                                    <i class="icon ti-email"></i>
                                    <p><a href="#">info@bootstrapmart.com</a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="contact-map">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d235013.52897217585!2d72.43965449510691!3d23.02060002135479!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x395e848aba5bd449%3A0x4fcedd11614f6516!2sAhmedabad%2C+Gujarat!5e0!3m2!1sen!2sin!4v1474053074398" width="100%" height="260" frameborder="0" style="border:0" allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>
</section>

@*Khai báo các thẻ Script vào trong đây, không cần khai báo bootrap, jquery, chỉ khai báo script link qua js script của page hoặc các componet*@
@section script{
    <script src="~/js/pages/contact.js"></script>
}
