﻿
@{
    ViewData["Title"] = "Index";
}

@section styles{

    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Table_Responsive_v1/vendor/animate/animate.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Table_Responsive_v1/vendor/select2/select2.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Table_Responsive_v1/vendor/perfect-scrollbar/perfect-scrollbar.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Table_Responsive_v1/css/util.css">
    <link rel="stylesheet" type="text/css" href="~/Table_Responsive_v1/css/main.css">
}

<table class="table-buy-insurance">
    <thead>
        <tr class="table100-head">
            <th class="column1">No</th>
            <th class="column2">Maximum refund($)</th>
            <th class="column3">Duration</th>
            <th class="column4">Price (% value of the car)</th>
            <th class="column5"></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td class="column1">1</td>
            <td class="column2">2000</td>
            <td class="column3">12</td>
            <td class="column4">2%</td>
            <td class="column5 column-action"><img class="btn-add-cart" src="/asset/add-to-cart.png" alt="Check out with PayPal"></td>
        </tr>
        <tr>
            <td class="column1">1</td>
            <td class="column2">2000</td>
            <td class="column3">12</td>
            <td class="column4">2%</td>
            <td class="column5 column-action"><img class="btn-add-cart" src="/asset/add-to-cart.png" alt="Check out with PayPal"></td>
        </tr>

    </tbody>
</table>

@section script{

    @*Table*@
    <script src="~/Table_Responsive_v1/vendor/jquery/jquery-3.2.1.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/Table_Responsive_v1/vendor/bootstrap/js/popper.js"></script>
    <script src="~/Table_Responsive_v1/vendor/bootstrap/js/bootstrap.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/Table_Responsive_v1/vendor/select2/select2.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/Table_Responsive_v1/js/main.js"></script>
}

