﻿@{
    var domainName = Url.ActionContext.HttpContext.Request.Host.ToString();
    var path = Url.ActionContext.HttpContext.Request.Path.ToString();
    var urlControllerName = path.Substring(1);
}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Insurance - Press</title>
    <link rel="SHORTCUT ICON" type="image/png" href="~/favicon.png" />
    <link href="~/lib/bootstrap3.3.6/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css" rel="stylesheet" type="text/css">
    <link href="~/template/css/icons.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="~/template/css/easy-responsive-tabs.css" />
    <link rel="stylesheet" type="text/css" href="~/template/css/flexslider.css" />
    <link rel="stylesheet" type="text/css" href="~/template/css/owl.carousel.css">
    <!--[if lt IE 8]><!-->
    <link rel="stylesheet" href="~/template/css/ie7/ie7.css">
    <!--<![endif]-->
    <link href="~/template/css/style.css" rel="stylesheet" type="text/css" />
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <!--https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css-->
    <link href="~/css/site.css" rel="stylesheet" type="text/css" />
    <link href="~/template/css/customize.css" type="text/css" />
    @RenderSection("styles", required: false)
    <style>
        .btn:focus {
            outline: none !important;
        }
    </style>
</head>

<body data-spy="scroll" data-target=".navbar-fixed-top">
    <header>
        <div class="top-bar">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 address">
                        <i class="ti-location-pin"></i> 8 Ton That Thuyet, Cau Giay, Ha Noi, Vietnam 100000
                    </div>
                    <div class="col-sm-6 social">
                        <ul>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-facebook-square"></i></a></li>
                            <li><a href="#"><i class="fa fa-linkedin-square"></i></a></li>
                            <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                            <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                            <li><a href="#"><i class="fa fa-youtube"></i></a></li>
                            <li id="hello" class="hello">Hello <span id="cus-name"></span></li>
                            <li id="btn-logout"><i class="fa fa-sign-out" style="font-size: 24px" aria-hidden="true"></i></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                        <i class="fa fa-bars"></i>
                    </button>
                    <a class="navbar-brand" href="/">
                        Insurance<span>Vehicle</span>
                    </a>
                    <p>Call Us Now <b>+84 7300 8855</b></p>
                </div>
                <div class="collapse navbar-collapse navbar-main-collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <a href="/insurance-vehicle" class="btn-default">Buy Now</a>
                        </li>
                        <li>
                            @{
                                if (urlControllerName == "" || urlControllerName.ToLower().Equals("home".ToLower()))
                                { <a href="/" class="router-active">Home</a>}
                                else
                                {
                                    <a href="/">Home</a>
                                }
                            }
                        </li>
                        <li>
                            @{
                                if (urlControllerName.ToLower().StartsWith("policy"))
                                {
                                    <a href="/policy" class="router-active">Policy</a>
                                }
                                else
                                {
                                    <a href="/policy">Policy</a>
                                }
                            }

                        </li>
                        <li>
                            @{
                                if (urlControllerName.ToLower().StartsWith("contact"))
                                {
                                    <a href="/contact" class="router-active">Contact</a>
                                }
                                else
                                {
                                    <a href="/contact">Contact</a>
                                }
                            }
                        </li>
                        <li>
                            @{
                                if (urlControllerName.ToLower().StartsWith("about-us"))
                                {
                                    <a href="/about-us" class="router-active">About us</a>
                                }
                                else
                                {
                                    <a href="/about-us">About us</a>
                                }
                            }
                        </li>
                        <li>
                            @{
                                if (urlControllerName.ToLower().StartsWith("account"))
                                {
                                    <a href="/account" class="router-active">My Account</a>
                                }
                                else
                                {
                                    <a href="/account">My Account</a>
                                }
                            }
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="clear"></div>
    <div style="padding: 0px; background-color: #f3f3f3">
        <div id="page-content" style="background-color: #FFFFFF; padding: 20px 10%;">
            @RenderBody()
        </div>
    </div>
    <footer style="margin-top: 0px;">
        <div class="container">
            <div class="row contact-sec">
                <div class="col-md-5 col-lg-5">
                    <h2>Insurance<span>Vehicle</span></h2>
                    <div class="row">
                        <div class="col-sm-6">
                            <p>
                                8 Ton That Thuyet, Cau Giay, Ha Noi, Vietnam
                                <br />Zip - 100000
                            </p>
                        </div>
                        <div class="col-sm-6">
                            <ul>
                                <li><a href="#"><i class="fa fa-phone"></i> +84 7300 8855</a></li>
                                <li><a href="#"><i class="ti-email"></i> info@bootstrapmart.com</a></li>
                            </ul>
                        </div>
                    </div>
                    <a href="/contact" class="btn-default">Contact Us</a>
                </div>
                <div class="col-md-5 col-lg-5 col-md-offset-2 col-lg-offset-2">
                    <h2>Agent<span>Detail</span></h2>
                    <div class="row">
                        <div class="col-sm-6">
                            <p>
                                8 Ton That Thuyet, Cau Giay, Ha Noi, Vietnam
                                <br />Zip - 100000
                            </p>
                        </div>
                        <div class="col-sm-6">
                            <ul>
                                <li><a href="#"><i class="fa fa-phone"></i> +84 7300 8855</a></li>
                                <li><a href="#"><i class="ti-email"></i> info@bootstrapmart.com</a></li>
                            </ul>
                        </div>
                    </div>
                    <a href="/contact" class="btn-default">Contact Agent</a>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8 col-lg-8">
                    <ul class="footer-nav">
                        <li><a href="/">Home</a></li>
                        <li><a href="/about-us">About Us</a></li>
                        <li><a href="/insurance-vehicle">Insurances</a></li>
                        <li><a href="/contact">Contact us</a></li>
                    </ul>
                </div>
                <div class="col-md-2 col-lg-2 col-md-offset-2 col-lg-offset-2">
                    <ul class="footer-social">
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                        <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                        <li><a href="#"><i class="fa fa-youtube"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="copyright">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 col-md-6 col-lg-6">
                        Copyright &copy; 2020 <a href="/">VehicleInsurance</a>
                    </div>
                    <div class="col-sm-6 col-md-6 col-lg-6 text-right">
                        <a href="/policy">Terms & Conditions</a>
                        <a href="/policy">Policy</a>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-hover-dropdown/2.2.1/bootstrap-hover-dropdown.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.9/jquery.validate.min.js"></script>
    <script src="~/template/js/jquery.flexslider-min.js"></script>
    <script src="~/template/js/easyResponsiveTabs.js"></script>
    <script src="~/template/js/owl.carousel.js"></script>
    <script src="~/template/js/custom.js"></script>
    <script src="~/js/Common.js"></script>
    <script>
        $(document).ready(function () {
            var customerName = getCookie("cus-name");
            $("#cus-name").append(customerName);
            if (!customerName) {
                $("#btn-logout").css("display", "none");
                $("#hello").css("display", "none");
            }

            $("#btn-logout").on("click", function () {
                setCookie("cus-name", "", 0);
                setCookie("cus-id", "", 0);
                setCookie("cus-token", "", 0);
                window.location = "/";
            })
        });


    </script>
    @RenderSection("script", required: false)
</body>

</html>
