﻿
@{
    ViewData["Title"] = "addBillOfSale";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section styles{
    <link href="~/css/pages/customer.css" rel="stylesheet" />
    <link href="~/css/components/loader.css" rel="stylesheet" />
}
<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        Page Header
        <small>List of Customers</small>
    </h1>
</section>

<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">Customers</h3>
                    <a href="../Views/Customer/Index.cshtml" type="button" id="open-add-new-customer" class="btn btn-info">Back To Page</a>
                </div><!-- /.box-header -->
                <div class="box-body">
                    <select id="type-insurance" style="max-width: 100px">
                        <option style="background-color: #fff !important ;color:#444444" value="0">Tất cả</option>
                        <option style="background-color: #fff !important ;color:#444444" value="1">Còn hạn</option>
                        <option style="background-color: #fff !important; color:#444444" value="2">Gần hết hạn</option>
                        <option style="background-color: #fff !important; color:#444444" value="3">Đã hết hạn</option>
                    </select>

                    <br /><br />
                          <table id="" class="table table-bordered table-hover">
                              <thead>
                                  <tr>
                                      <th>Id</th>
                                      <th>Body Claim</th>
                                      <th>Customer Name</th>
                                      <th>Customer Phone</th>
                                      <th>Customer Email</th>
                                      <th>Claim Status</th>
                                      <th>Create Datime</th>
                                      <th>Refund</th>
                                      <th></th>
                                      <th style="text-align:center">Option</th>
                                  </tr>
                              </thead>
                              <tbody id="list-data-table-ClaimUnpaid">
                                  <tr>
                                      <td>Id</td>
                                      <td>Body Claim</td>
                                      <td>Customer Name</td>
                                      <td>Customer Phone</td>
                                      <td>Customer Email</td>
                                      <td>Claim Status</td>
                                      <td>Create Datime</td>
                                      <td>Refund</td>
                                      <td></td>
                                      <th style="text-align:center">Option</th>
                                  </tr>
                              </tbody>

                          </table>
                </div><!-- /.box-body -->
            </div><!-- /.box -->
        </div><!-- /.col -->
    </div><!-- /.row -->
</section>
@section script{

}

