﻿
@{
    ViewData["Title"] = "Customer";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section styles{
    <link href="~/css/pages/customer.css" rel="stylesheet" />
    <link href="~/css/components/loader.css" rel="stylesheet" />
    <link href="~/css/pages/customer-detail-modal.css" rel="stylesheet" />
}
<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        Customer
        <small>List of Customer</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="/"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Customer</li>
    </ol>
</section>

<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">Customers</h3>
                </div><!-- /.box-header -->
                <div class="box-body">
                    <div id="tool-area" class="row">
                        <div class="col-md-6">
                            <button type="button" id="open-add-new-customer" class="btn btn-info" data-target="#add-customer" data-toggle="modal">
                                <i class="fa fa-plus" title="Add Customer"></i>Add Customer
                            </button>
                            <button type="button" id="send-email-all-customer" class="btn btn-success" data-target="#send-email-all"
                                    data-toggle="modal" onclick="openSendEmailToAllCustomerModal()">
                                <i class="fa fa-envelope" title="Send Email" style="margin-left: 7px"></i>Send E-mail To All Customer
                            </button>
                        </div>
                        <div class="col-md-6">
                            <div class="col-md-9">
                                <input type="text" class="form-control" placeholder="Enter Name/ E-Mail/ Phone Number/ Passport" name="SearchCustomer"
                                       id="search-customer" onchange="searchCustomer()" onkeyup="searchCustomer()" />
                            </div>
                            <div class="col-md-3">
                                <button type="button" class="btn btn-danger" onclick="cancelSearch()"><i class="fa fa-remove" title="Clear Search"></i>Clear Search</button>
                            </div>
                        </div>
                    </div>
                    <table id="customer-list-table" class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>Full Name</th>
                                <th>Phone</th>
                                <th>Email</th>
                                <th>Passport</th>
                                <th>Address</th>
                                <th style="text-align:center">Option</th>
                            </tr>
                        </thead>
                        <tbody id="list-data-table-account">
                        </tbody>
                    </table>

                    <div class="load-table">
                        <!-- loading animation for table -->
                        <i class="fa fa-spinner fa-pulse fa-3x fa-fw" style="color: #00b2ce;"></i>
                        <span class="sr-only">Loading...</span>
                    </div>

                    <p style="text-align: center; font-size: 200%; display: none; margin-top: 200px"><b>No Result Match!</b></p>
                </div><!-- /.box-body -->
                <!-- Pagination -->
                <div>
                    <div class="wrap-pagination">
                        <ul class="pagination" style="">
                        </ul>
                    </div>
                </div>
            </div><!-- /.box -->
        </div><!-- /.col -->
    </div><!-- /.row -->
</section>

<!-- Modal Add Customer -->
<div class="modal fade" id="add-customer" role="dialog">
    <div class="modal-dialog modal-lg" id="add-customer-modal">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" style="font-weight: bolder; text-align: center; font-size: 180%; color: #344659;">Add Customer</h4>
            </div>
            <div class="modal-body">
                <br />
                <form class="form-horizontal" style="text-align: center">
                    <div class="form-group">
                        <div class="col-sm-3"></div>
                        <label class="control-label col-sm-1 ctrl" for="Fullname">*Fullname:</label>
                        <div class="col-sm-5">
                            <input required type="text" class="form-control" id="add-full-name"
                                   placeholder="Enter Fullname" name="Fullname">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-3"></div>
                        <label class="control-label col-sm-1 ctrl" for="Phone">*Phone:</label>
                        <div class="col-sm-5">
                            <input required type="text" class="form-control" id="add-phone"
                                   placeholder="Enter Phone Number" name="Phone">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-3"></div>
                        <label class="control-label col-sm-1 ctrl" for="Address">*Address:</label>
                        <div class="col-sm-5">
                            <input required type="text" class="form-control" id="add-address"
                                   placeholder="Enter Address" name="Address">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-3"></div>
                        <label class="control-label col-sm-1 ctrl" for="email">*E-Mail:</label>
                        <div class="col-sm-5">
                            <input required type="Email" class="form-control" id="add-email"
                                   placeholder="Enter Email" name="Email">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-3"></div>
                        <label class="control-label col-sm-1 ctrl" for="Password">*Password:</label>
                        <div class="col-sm-5">
                            <input required type="text" class="form-control" id="add-password"
                                   placeholder="Enter Password" name="Password">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-3"></div>
                        <label class="control-label col-sm-1 ctrl" for="Passport">*Passport:</label>
                        <div class="col-sm-5">
                            <input required type="text" class="form-control" id="add-passport"
                                   placeholder="Enter Passport" name="Passport">
                        </div>
                    </div>
                    <div class="form-group">
                        <br />
                        <button type="button" class="btn btn-success" id="add-customer-btn" onclick="addNewCustomer()">
                            <i class="fa fa-plus" style="margin-right: 7px"></i>Add Customer
                        </button>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" id="close-add-customer-btn" class="btn btn-outline-danger btn-lg" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal Edit Customer -->
<div class="modal fade" id="edit-customer" role="dialog">
    <div class="modal-dialog modal-lg" id="edit-customer-modal">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" style="font-weight: bolder; text-align: center; font-size: 180%; color: #344659;">Edit Customer</h4>
            </div>
            <div class="modal-body">
                <br />
                <form class="form-horizontal" style="text-align: center">
                    <div class="form-group">
                        <div class="col-sm-3"></div>
                        <label class="control-label ctrl col-sm-1" for="Fullname">*Fullname:</label>
                        <div class="col-sm-5">
                            <input required type="text" class="form-control" id="edit-full-name"
                                   placeholder="Enter Fullname" name="Fullname">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-3"></div>
                        <label class="control-label col-sm-1 ctrl" for="Phone">*Phone:</label>
                        <div class="col-sm-5">
                            <input required type="text" class="form-control" id="edit-phone"
                                   placeholder="Enter Phone Number" name="Phone">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-3"></div>
                        <label class="control-label col-sm-1 ctrl" for="Address">*Address:</label>
                        <div class="col-sm-5">
                            <input required type="text" class="form-control" id="edit-address"
                                   placeholder="Enter Address" name="Address">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-3"></div>
                        <label class="control-label col-sm-1 ctrl" for="Passport">*Passport:</label>
                        <div class="col-sm-5">
                            <input required type="text" class="form-control" id="edit-passport"
                                   placeholder="Enter Passport" name="Passport">
                        </div>
                    </div>
                    <div class="form-group">
                        <br />
                        <button type="button" class="btn btn-warning" id="edit-customer-btn" onclick="editCustomer()">
                            <i class="fa fa-edit" style="margin-right: 7px"></i>Edit Customer
                        </button>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" id="close-edit-customer-btn" class="btn btn-outline-danger btn-lg" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal Detail Customer -->
<div class="modal fade" id="details-customer" role="dialog">
    <div class="modal-dialog modal-lg" id="details-customer-modal">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" onclick="hideCustomerDetailModal()">&times;</button>
                <h4 class="modal-title" id="details-customer-modal-title" style="font-weight: bolder; text-align: center; font-size: 180%; color: #344659;">Customer Details</h4>
            </div>
            <div class="modal-body">
                <div class="row" style="width: 100%; padding-top: 25px">
                    <div class="col-md-4" id="avatar-area">
                        <img width="200" height="200" src="https://www.w3schools.com/howto/img_avatar.png">
                    </div>
                    <div class="col-md-8" id="customer-info-area">
                        <p class="details-customer-modal-cusname">CUSTOMER NAME</p>
                        <table>
                            <tbody>
                                <tr>
                                    <td>*Phone Number: </td>
                                    <td id="details-customer-modal-cusphone">01276860863</td>
                                </tr>
                                <tr>
                                    <td>*E-Mail: </td>
                                    <td id="details-customer-modal-cusemail">abc@xyz</td>
                                </tr>
                                <tr>
                                    <td>*Address: </td>
                                    <td id="details-customer-modal-cusaddress">Ha Noi</td>
                                </tr>
                                <tr>
                                    <td>*Passport: </td>
                                    <td id="details-customer-modal-cuspassport">013-251-434</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <hr>
                <!-- Vùng Thêm Xe -->
                <button type="button" class="btn btn-info open-close-add-bill-form-btn" id="btn-open-add-vehicle-form" onclick="openAddVehicleForm()">Open Add Vehicle Form</button>
                <button type="button" class="btn btn-danger open-close-add-bill-form-btn" id="btn-close-add-vehicle-form" style="display: none" onclick="closeAddVehicleForm()">Close Add Vehicle Form</button>
                <!-- Form Thêm Xe -->
                <div class="form-horizontal" id="add-vehicle-area" style="display: none;">
                    <div class="form-group">
                        <label class="control-label col-sm-6" for="AddBodyNumber">*Body Number: </label>
                        <div class="col-sm-3">
                            <input class="form-control" required type="text" name="AddBodyNumber" id="add-body-number"
                                   placeholder="Enter Body Number" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-6" for="AddEngineNumber">*Engine Number: </label>
                        <div class="col-sm-3">
                            <input class="form-control" required type="text" name="AddEngineNumber" id="add-engine-number"
                                   placeholder="Enter Engine Number" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-6" for="AddLicensePlate">*License Plate: </label>
                        <div class="col-sm-3">
                            <input class="form-control" required type="text" name="AddLicensePlate" id="add-license-plate"
                                   placeholder="Enter License Plate" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-6" for="AddPurchaseDate">*Purchase Date: </label>
                        <div class="col-sm-3">
                            <input class="form-control" required type="date" name="AddPurchaseDate" id="add-purchase-date"
                                   placeholder="Enter Purchase Date" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-6" for="AddModel">*Model: </label>
                        <div class="col-sm-4">
                            <input autocomplete="off" required name="AddModel" class="form-control" id="add-model"
                                   placeholder="Enter Model"
                                   onkeyup="getVehicleModel()" onfocus="getVehicleModel()" />
                            <div id="search-result-area" class="dropdown" onblur="hideSearchResult()">
                                <ul class="dropdown-menu" aria-labelledby="dropdownCustomerVehicles" id="search-result-list">
                                    <!-- Đẩy kết quả Tìm kiếm Model vào đây-->
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-6" for="AddVersion">*Version: </label>
                        <div class="col-sm-4">
                            <select required name="Version" class="form-control" id="add-version">
                                <!-- Đẩy dữ liệu về Version phương tiện theo Model vào đây -->
                            </select>
                        </div>
                    </div>
                    <br />
                    <button id="btn-add-vehicle" class="btn btn-info btn-lg" onclick="addCustomerVehicle()">
                        <i class="fa fa-plus" style="margin-right: 7px"></i>Add Vehicle
                    </button>
                </div>
                <hr />

                <!-- Vùng Chọn Bảo hiểm -->
                <button type="button" class="btn btn-info open-close-add-bill-form-btn" id="btn-open-add-bill" onclick="openAddBillForm()">Open Add New Bill Form</button>
                <button type="button" class="btn btn-danger open-close-add-bill-form-btn" id="btn-close-add-bill" style="display: none" onclick="closeAddBillForm()">Close Add New Bill Form</button>

                <div id="add-bill-of-sale-area" style="display: none">
                    <form class="form-horizontal">
                        <div class="row">
                            <!-- Chọn Bảo hiểm -->
                            <div class="col-lg-6">
                                <!-- Dropdown Chọn BH-->
                                <div class="dropdown">
                                    <button class="btn btn-primary btn-lg dropdown-toggle dropdown-btn" type="button" data-toggle="dropdown">
                                        Choose Insurance
                                        <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu" style="" id="insurance-list">
                                        <li><a href="#">HTML</a></li>
                                        <li><a href="#">CSS</a></li>
                                        <li><a href="#">JavaScript</a></li>
                                    </ul>
                                </div>
                                <!-- Vùng Chọn BH-->
                                <div id="chosen-insurance-area" class="row" style="display: none; margin-top: 17px;">
                                    <p id="chosen-insurance-name">CHOSEN INSURANCE NAME</p>
                                    <div class="form-group">
                                        <div class="col-sm-2"></div>
                                        <label class="control-label col-sm-5" style="text-align: left; padding-right: 0px !important;">*Price Percent By Car Value:</label>
                                        <div class="col-sm-5">
                                            <label class="control-label col-sm-10" id="price-percent-by-car-value" style="text-align:left; float: left; color: #00b2ce">100</label>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-sm-2"></div>
                                        <label class="control-label col-sm-5" style="text-align: left">*Min Value Refund:</label>
                                        <div class="col-sm-5">
                                            <label class="control-label col-sm-10" id="min-value-refund" style="text-align:left; float: left; color: #00b2ce">100</label>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-sm-2"></div>
                                        <label class="control-label col-sm-5" style="text-align: left">*Max Value Refund:</label>
                                        <div class="col-sm-5">
                                            <label class="control-label col-sm-10" id="max-value-refund" style="text-align:left; float: left; color: #00b2ce">100</label>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-sm-2"></div>
                                        <label class="control-label col-sm-5" style="text-align: left">*Max Refund Quantity:</label>
                                        <div class="col-sm-5">
                                            <label class="control-label col-sm-10" id="max-refund-quantity" style="text-align:left; float: left; color: #00b2ce">100</label>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-sm-2"></div>
                                        <label class="control-label col-sm-5" style="text-align: left">*Duration Month Unit:</label>
                                        <div class="col-sm-5">
                                            <label class="control-label col-sm-10" id="duration-month-unit" style="text-align:left; float: left; color: #00b2ce">100</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Chọn Xe -->
                            <div class="col-lg-6">
                                <!-- Dropdown Chọn Xe-->
                                <div class="dropdown">
                                    <button class="btn btn-primary btn-lg dropdown-toggle dropdown-btn" type="button" data-toggle="dropdown">
                                        Choose Vehicle
                                        <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu" style="" id="customer-vehicle-list">
                                        <li><a href="#">HTML</a></li>
                                        <li><a href="#">CSS</a></li>
                                        <li><a href="#">JavaScript</a></li>
                                    </ul>
                                </div>
                                <!-- Vùng Chọn Xe-->
                                <div id="chosen-vehicle-area" style="display: none; margin-top: 17px;">
                                    <p id="chosen-vehicle-noti">You choose insurance for this vehicle:</p>
                                    <br />
                                    <div id="chosen-vehicle-info">
                                        <p style="margin-top: -14px !important;">*Model: <span id="chosen-vec-model"></span></p>
                                        <p>*License Plate: <span id="chosen-vec-license-plate"></span></p>
                                        <p>*Version: <span id="chosen-vec-version"></span></p>
                                        <p>*Engine Number: <span id="chosen-vec-engine-number"></span></p>
                                        <p>*Body Number: <span id="chosen-vec-body-number"></span></p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Vùng Tạo Hóa đơn -->
                        <div class="form-horizontal" id="create-bill-area" style="display: none">
                            <div class="form-group">
                                <label class="control-label col-sm-6" for="InsuranceQuantity">*Insurance Quantity: </label>
                                <div class="col-sm-2">
                                    <input class="form-control" required type="number" min="1" name="InsuranceQuantity" id="insurance-quantity"
                                           placeholder="Enter your Insurance Quantity" onchange="getPriceInsurance()"
                                           value="1" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-sm-6" for="YearsOfUsed">*Years Of Used: </label>
                                <div class="col-sm-2">
                                    <input class="form-control" required type="number" min="1" name="YearsOfUsed" id="years-of-used"
                                           placeholder="Enter your Vehicle Years of Used" onchange="getPriceInsurance()"
                                           value="1" />
                                </div>
                            </div>
                            <p id="add-bill-price-noti">*Your Insurance Price is: <span id="add-bill-price-value">1160$</span></p>
                            <br />
                            <div class="form-group">
                                <div class="col-sm-6" style="text-align: right; padding-right: 30px">
                                    <input type="radio" name="payOrCreateSelection" id="payment-offline-radio"
                                           onchange="pocSelection()" value="payOff"/>
                                    <label>*Payment Offline</label>
                                </div>
                                <div class="col-sm-6" style="text-align: left; padding-right: 30px">
                                    <input type="radio" name="payOrCreateSelection" id="create-bill-radio" checked
                                           onchange="pocSelection()" value="createOnl" />
                                    <label>*Create Bill Online</label>
                                </div>
                            </div>
                            <br />
                            <button id="btn-create-bill" class="btn btn-info btn-lg" onclick="createBillAction()">
                                Create Your Bill
                            </button>
                            <button id="btn-payment-offline" class="btn btn-success btn-lg" onclick="paymentOfflineAction()" style="display: none">
                                Payment Offline
                            </button>
                        </div>
                    </form>
                </div>
                <hr>
                <div id="customer-bill-area">
                    <button type="button" class="btn btn-info open-close-list-bill-form-btn" id="btn-open-list-bill" onclick="openListBillForm()">Open List of Bill(s) Form</button>
                    <button type="button" class="btn btn-danger open-close-list-bill-form-btn" id="btn-close-list-bill" style="display: none" onclick="closeListBillForm()">Close List of Bill(s) Form</button>
                    <div id="bill-list-area" style="display: none">
                        <p id="customer-bill-list-title">Customer Bill(s) of <span class="details-customer-modal-cusname"></span></p>
                        <table class="table table-bordered table-hover table-responsive" id="bill-list-table">
                            <thead>
                                <tr>
                                    <th>Bill Number</th>
                                    <th>Insurance</th>
                                    <th>Vehicle</th>
                                    <th>License Plate</th>
                                    <th>Total Price</th>
                                    <th>Payment Status</th>
                                    <th>Create At</th>
                                </tr>
                            </thead>
                            <tbody id="bill-list-table-body">
                                <!-- Đổ thông tin Danh sách Hóa đơn vào đây -->
                            </tbody>
                        </table>
                    </div>
                </div>
                <hr />
                <div id="customer-vehicle-area">
                    <button type="button" class="btn btn-info open-close-list-vehicle-form-btn" id="btn-open-list-vehicle" onclick="openListVehicleForm()">Open List of Vehicle(s) Form</button>
                    <button type="button" class="btn btn-danger open-close-list-vehicle-form-btn" id="btn-close-list-vehicle" style="display: none" onclick="closeListVehicleForm()">Close List of Vehicle(s) Form</button>
                    <div id="list-vehicle-area" style="display: none">
                        <p id="list-vehicle-table-title"></p>
                        <table class="table table-bordered table-hover table-responsive" id="list-vehicle-table">
                            <thead>
                                <tr>
                                    <th>Version</th>
                                    <th>License Plate</th>
                                    <th>Engine Number</th>
                                    <th>Body Number</th>
                                    <th>Purchase Date</th>
                                </tr>
                            </thead>
                            <tbody id="list-vehicle-table-body">
                                <!-- Đổ dữ liệu về Xe của Khách hàng vào đây -->
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" id="" class="btn btn-outline-danger btn-lg" data-dismiss="modal" onclick="hideCustomerDetailModal()">Close</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal Send Email -->
<div class="modal fade" id="common-modal" role="dialog">
    <div class="modal-dialog modal-xl" id="common-modal-wrap-content">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" style="font-weight: bolder; text-align: left; font-size: 180%; color: #344659;">Add Customer</h4>
            </div>
            <div class="modal-body">
                <br />


            </div>
            <div class="modal-footer">
                <button type="button" id="close-common-modal" class="btn btn-outline-danger btn-lg" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal Thông báo Kết quả Send Email -->
<div class="modal" tabindex="-1" id="modal-notification" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"><b>Send E-Mail</b></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<!-- Notification Modal -->
<div id="notification-modal-container" style="display: none;">
    <!-- Large modal -->
    <button type="button" class="btn btn-primary" id="noti-modal-button" data-toggle="modal" data-target=".bs-example-modal-md">Large modal</button>

    <div class="modal fade bs-example-modal-md" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" style="z-index: 1000000000">
        <div class="modal-dialog modal-md">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="hideNotificationModal()"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="noti-modal-header"></h4>
                </div>
                <div class="modal-body" id="noti-modal-body">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal" onclick="hideNotificationModal()">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>

@section script{
    <script src="~/js/pages/customer.js"></script>
    <script src="~/js/pages/customer-detail-modal.js"></script>
    <script src="~/js/components/ShowNotificationModal.js"></script>
    <script src="~/js/components/formatDate.js"></script>
}