﻿@{

}


@section styles{
    <style>
        .btn-go-home {
            background-color: #00b2ce;
            border-color: #00b2ce;
            color: #FFFFFF;
        }

            .btn-go-home:hover {
                background-color: #0d8da1;
                border-color: #0d8da1;
                color: #FFFFFF;
            }
    </style>
}

<div style="padding-top: 100px;">
    <div class="row text-center">
        <div class="col-sm-6 col-sm-offset-3">
            <i class="fa fa-exclamation-triangle" aria-hidden="true" style="font-size: 60px; color: #d44950;"></i>
            <h3>Dear, <span id="name-cus"></span></h3>
            <p style="        font-size: 20px;
        color: #5C5C5C;">
                Payment failed
            </p>
            <p style="font-size:20px;color:#5C5C5C;">

                Please try again or contact support.
            </p>
            <a href="/" class="btn btn-go-home">Continue to homepage <i class="fa fa-home" aria-hidden="true"></i></a>
            <br><br>
        </div>

    </div>
</div>

@section script{
    <script src="~/js/Common.js"></script>
    <script>
        $("#name-cus").append(getCookie("cus-name"));
    </script>
}